[2015-05-15 13:11] tanmayambre commented on #621
+1

[2015-05-15 13:56] steveklabnik commented on #621
While I'm sympathetic to browser support, our primary audience isn't browsers, it's other API clients.

We can't _not_ use PATCH here, as it's the correct HTTP verb.

[2015-05-15 14:02] ben-crowhurst commented on #621
May the standard host a section stating HTTP PUT is ok as long as its a complete resource document?

[2015-05-15 14:11] ziyualexanderwang commented on #621
+1

[2015-05-15 14:23] gogs2020 commented on #621
+1

[2015-05-15 14:29] juniorhamish commented on #621
+1

[2015-05-15 14:52] gr0uch commented on #621
Seems like a popular request. For browsers that don't support PATCH, they should be able to send custom headers, such as `X-Request-Method` to bypass the method problem.

I disagree that the primary audience isn't browsers, considering that Ember Data is a major consumer. I agree that it should use PATCH though.

[2015-05-15 14:52] shotsyjr commented on #621
+1

[2015-05-15 15:45] steveklabnik commented on #621
I certainly don't want to talk down the Ember Data case, it _is_ very important! I just mean correctness comes first, then possible hacks for compatibility.

[2015-05-15 18:25] hhware opened #622 "Links, relationships, discoverable actions, mapping to RFC5988"
This proposal is a successor to #590. I would like to request to consider this for 1.0 because it won't make much sense afterwards.

@ethanresnick has submitted #618 while I was thinking about this. Even though the content of #618 is a part of what is proposed here, the scope of this issue is different from #618, so I am not hijacking #618...

##### Motivation

1. Five HTTP verbs are not enough to

[2015-05-15 18:27] hhware commented on #619
A relevant proposal: #622.

[2015-05-15 18:27] hhware commented on #615
@willemdewit, IMHO, nothing prevents the server from adding the next question into `included` of the response of the operation which saves the previous question. Would that solve the problem?

[2015-05-15 18:29] hhware commented on #614
Another off-topic comment: IMHO, the name of the spec is its weak point. It is like calling your child Homo Sapiens -- despite being factually correct, I doubt anybody would do that. Even though some like taxonomy-based names (e.g., Sun DHCP Server, Sun Identity Manager, etc.), I guess their hidden intention is to make it difficult to find information about these things on the web. However, select

[2015-05-15 18:29] hhware commented on #612
The spec defines only 5 members of resource objects and then says:

Is there a weak point in this logic?

[2015-05-15 18:29] hhware commented on #497
@nevson, IMHO, necessity of several GETs is not implied. I think it is within the scope of the spec:

The spec just does not define the exact way of requesting it.

[2015-05-15 18:29] hhware commented on #533
@PatrickWolleb, one of the reason: that JSON API supports compound documents, i.e. multiple resources can be returned in a single response. In this case it is natural to return links related to a given resource inside the representation of that resource and not in the HTTP headers, otherwise it would be difficult to figure out what they belong to.

[2015-05-15 18:29] hhware commented on #621
@ben-crowhurst, `PUT` is OK for anything, see http://jsonapi.org/faq/#wheres-put

[2015-05-15 18:31] hhware commented on #618
A related proposal: #622.

[2015-05-15 18:31] tkellen commented on #533
I'm going to close this as resolved. I feel that @ethanresnick and @hhware covered this clearly. Please feel free to continue the discussion if you're still unclear on this @PatrickWolleb!

[2015-05-15 18:31] #533 closed

[2015-05-15 19:27] ChrisDavison commented on #621
+1

[2015-05-15 20:45] dgeb commented on #618
@ethanresnick Could you please provide a more complete example? Perhaps a reworking of the home page example? I'm especially interested in understanding where you're moving the contents (`self`, `related`, etc.) of link objects.

[2015-05-15 20:48] tkellen commented on #599
Closing. We're going to be revisiting this next week in another issue (you're right that it drives back to #497).

[2015-05-15 20:48] #599 closed

[2015-05-15 20:55] PatrickWolleb commented on #533
Thank you for your responses and I can understand that your solutions work but they are abusing the concept of HTTP by creating a pseudo protocol that can only be understood by having out of band info on this protocol.

Linking: There certainly is an anchor equivalent  and it is called "link" key on documents. Each document can be represented in a schema and each schema can have links. Therefore t

[2015-05-15 21:02] ethanresnick commented on #533
Your examples for linking (use a `"links"` key) and doing compound documents (use an `?include` query parameter) sound like exactly what we're doing...so I'm still confused.

[2015-05-15 21:03] tkellen commented on #618
I'm wholeheartedly :+1: to this.

[2015-05-15 21:08] dgeb commented on #621
I don't think we need anything normative in the spec to allow for this. This seems like a perfect candidate for an extension, which would allow servers to eventually phase out support.

[2015-05-15 21:27] ethanresnick commented on #618
@bintoro @ziege @tkellen Glad to hear you guys are on board with this! :)

@dgeb Absolutely! Here's how the home page example would look:
1. First, under the limited version of my proposal, which keeps the contents of what are currently called link objects exactly as is:

[code]

   Quite literally all I have done in this version is rename the resource-level `"links"` key to `"relationships"`, the

[2015-05-15 22:13] ethanresnick commented on #621
I'm +1 on @dgeb's and @steveklabnik's sentiment that we shouldn't spend too much effort worrying about this, as we're doing the correct thing and the problem will solve itself as IE8 fades out over time. That said, a recommendation for how to solve this (if there's a simple way) could be a really big win for the spec adoption at relatively little cost.

For example, what if we recommended that cli

[2015-05-15 22:29] ethanresnick commented on #602
@tkellen @dgeb @steveklabnik no thoughts on this?

[2015-05-16 06:52] mandalae commented on #621
+1

[2015-05-16 15:14] PatrickWolleb commented on #533
Checkout this book http://shop.oreilly.com/product/0636920021575.do or even better Roy Fielding's paper on REST https://www.ics.uci.edu/~fielding/pubs/dissertation/rest_arch_style.htm

[2015-05-16 21:22] hhware commented on #618
@ethanresnick, I fully support all items including the 3rd one, which is also in line with #622. I guess extraction of of attributes into a separate object (#588) set us both to think in the same direction...

[2015-05-16 21:23] hhware commented on #533
@PatrickWolleb, IMHO, JSON API is a protocol and data exchange format, built on top of HTTP. JSON API is using features of HTTP relevant to it. Why does it have to use every available feature?

Consider the following analogy: is HTTP abusing TCP? Building stateless layer on top of stateful layer is ignoring one of the major features of the underlying layer. Is it an act of abuse, or would anyone c

[2015-05-16 22:33] dgeb commented on #618
@ethanresnick I favor the semantics and structure of the third option because it maintains links related to resources in their own `links` object. The other options maintain blurred lines between links and relationships. As @hhware notes, it's also in line with #622, so it's good to see your thinking converging.

If we are to go down this route, we should also rethink the relationship URL recommen

[2015-05-16 22:51] ethanresnick commented on #618
@dgeb Thanks for the feedback! The third option is my preferred one as well, and I'll work up a PR tonight or tomorrow!

I hadn't thought about how these changes would influence the linkage url. My inclination would be to keep the key in the `"links"` object called `"self"`, because "self" is an official and appropriate link relation, which'll be really important if we later try to define a mappin

[2015-05-16 23:14] dgeb commented on #618
@ethanresnick I think you meant to keep the `related` URL as `http://example.com/posts/1/author` in your example, right?

If so, then that sounds like a great starting point for a PR. Thanks in advance!

[2015-05-16 23:22] ethanresnick commented on #618
Yup, that's what I meant. Just, overly ambitious copy and pasting :) I'll start work on a PR soon.

Also, I know we're coming up on the finish line for JSON API 1.0 and there's still a lot of final touches to get done. So I just wanted to offer to help out in any way that would be useful. I'll be available much of Monday, so could help with writing up last-minute changes, closing resolved issues,

[2015-05-17 04:47] hhware commented on #618
@dgeb, @ethanresnick, I also support the choice of `self` as key, and replacement of `links` with `relationships` in the URL seems to be right to the point.

[2015-05-17 08:13] cziegenberg commented on #575
@ksimka You need it, because some of the attributes are derived attributes and cannot be set by the client (e.g. "age", "order-total", "order-vat",...).

[2015-05-17 13:21] 0x8890 opened #623 "Proposal for removal of relationship entities from base specification"
Relationship entities should not be a mandatory part of the specification, instead they should be deprecated in favor of the official patch extension. From my understanding, the reason why they exist in the base spec is to provide push/pull operations on `linkage` arrays. The patch extension provides this, and more (add/remove ops on any array, not just to-many links), and there is no reason why t

[2015-05-17 16:44] patrykorwat commented on #623
I might be not so radical, some people may have already make use of this feature. I'm for creating an extension to which those methods will be moved.

[2015-05-17 16:53] gr0uch commented on #623
I know that the timing for this proposal is bad on the eve of a 1.0 release of JSON API, but I strongly feel that it does not belong as part of the base spec since it adds complexity in many places for just one additional feature. However, other breaking changes have been merged recently such as the `attributes` object, so I think it's still fair game to remove relationship entities at this point.

[2015-05-17 17:18] ethanresnick commented on #623
In my experience, push/pull on linkage arrays is valuable not only for preventing race conditions (which may be somewhat of a theoretical concern for many APIs), but also because it's _incredibly_ convenient, in that it allows clients to add something to a relationship without having to request the containing resource first. Therefore, I think implementors of the base spec should have an easy way

[2015-05-17 17:30] ethanresnick opened #624 "More `include`-related vaguery"
This issue may be dependent on the resolution to #497, but is distinct from it. The issue is the following line:

Imagine that the resource at `/companies/abc` has two relationships: `"owner"` and "`ceo"`, and that these relationships point to the same person resource. I'm concerned that, as written, the line above would require that, on a request for `/companies/abc?include=owner` would require t

[2015-05-17 17:41] gr0uch commented on #623
Post/delete on a relationship entity only provides a partial solution to the more generic problem of operations on an array. If its a truly necessary feature for an API to have, it should implement the patch extension for a generic solution, rather than relationship entities which exist solely as a special case for updating to-many relationships.

I don't think its a big deal breaker to not be abl

[2015-05-18 08:49] ksimka commented on #575
Why server can't handle this? Server knows what fields are writable, so just skip any attempt to write them. Because even if API supports that "readonly" meta info, suppose client has a bug and it still sets those fields. What server will do?

I'm sorry for being annoying, but I really want to understand the needing, maybe we're doing something wrong and we can do better.

[2015-05-18 11:29] tkellen commented on #602
Just a heads up: I flagged this for review before Thursday.

[2015-05-18 11:54] tkellen commented on #624
I see what you mean. This seems like a bit of a reach, but you're technically correct. If there is a way to alleviate this concern without making this clause unnecessarily complex, I'd be +1 to a PR.

[2015-05-18 14:00] dgeb commented on #624
Yeah, this has bothered me as well. This definitely needs rewording or removal.

[2015-05-18 14:43] dgeb commented on #608
:+1:

[2015-05-18 15:06] cziegenberg commented on #575
The server could do it, but this would break a basic rule of the spec:
"A request **MUST** completely succeed or fail (in a single "transaction"). No partial updates are allowed."

On the other hand the client should be informed if there is something wrong (no matter if because of derived attributes or insufficient permissions).

[2015-05-18 16:39] ksimka commented on #575
Sorry, can't agree. It will completely succeed or completely fail, it doesn't depend on readonly fields. Client sends those fields blindly, **it doesn't actually want to update them**, so for server is a kind of trash. It's like if I add some random param to request, it'll be just skipped (by most APIs, I suppose), because it makes no sense.

[2015-05-18 17:17] cziegenberg commented on #575
You're mixing things here...

You suggested to send all fields, although unnecessary, and to ignore readonly fields on server side, which would be against basic rules of the spec.

The server doesn't know what the client wants to update or not. So readonly does exactly what is needed. It gives the client the required information to send valid updates that can succeed. Without that the client would

[2015-05-18 18:09] tkellen commented on #550
Closing this in favor of #497 (and a pending PR to resolve). I hear your concerns @devpascoe and we are actively working to reach clarity on this point in the specification.

[2015-05-18 18:09] #550 closed

[2015-05-18 18:25] tkellen commented on #497
I'm not sure what to do about what I'm about to write, but I'm leaving it here for posterity.

I would argue that in any case where you cannot link the data in `included` back to the primary resource object(s) in `data`, you don't actually care about what is in `data` at all. In fact, what is "included" should _be_ the primary data of the request.

From @ethanresnick's example:

...you don't actua

[2015-05-18 19:41] ethanresnick commented on #497
@tkellen I want to re-read this issue and think about it more closely but, just as a tentative response to your comment: yeah, I was "hacking" for the orgs in my example. And you might be right that, in general, the use cases in which the client can't link `included` back to `data` are ones in which it doesn't care about the primary data. But that doesn't seem like it will _always_ be the case. Fo

[2015-05-18 19:58] ethanresnick commented on #622
@hhware just wanted to say that I saw this and have been thinking about it. my big takeaway is that the core aim of your proposal—extending the `links` object to make it more powerful—is really important and spot on, but that your solution might be overly complex. i'll elaborate more on this when i can, but i want to write up my thoughts on #614 first, as that could effect this

[2015-05-18 21:00] ethanresnick commented on #614
The media type name is settled, so let’s get back to talking about extensions. (Also, ping @bintoro, who helped with the initial design.)

I want to put forward what I think the goals for the extension system should be and how I’ve been thinking about the different types of extensions. I still don’t have a preferred negotiation system, but I’m pretty sure the current one isn’t what we want, and I

[2015-05-18 21:04] ethanresnick commented on #538
This can be closed!

[2015-05-18 21:04] #538 closed

[2015-05-18 21:06] tkellen commented on #622
I really want JSON-API to point in the direction of HATEOAS too, but I think this proposal is too complex for 1.0, and honestly, for the relative near future of JSON-API.

That said, we're committed to merging #618 today or tomorrow, which gets us quite a bit closer.

Would you be willing to close this in favor of a PR based on the structure of #618 @hhware? I think the focus should be ensuring th

[2015-05-18 21:15] ethanresnick commented on #331
@dgeb I think this can be closed! It seems to be covered in the spec by the text that says:

That said, if we wanted to make it slightly more explicit, we could change the following sentence in the "Top Level" section from:

to

[2015-05-18 21:25] tkellen commented on #567
Resolved in #601

[2015-05-18 21:25] #567 closed

[2015-05-18 21:33] tkellen commented on #331
:+1: I believe you're right @ethanresnick.  Would you mind opening a PR that references closing this issue with that tweak?

[2015-05-18 21:36] ethanresnick commented on #419
About @bobholt's second point...I think resource creation via PATCH is an interesting case. It seems like it could have two applications:
1. Allowing api clients to create new json-api collections. E.g. `PATCH /whatevers`, where `"whatevers"` is a type that currently doesn't exist. I'm not sure how useful this is, but it also seems like the kind of thing that we might as well let a server implemen

[2015-05-18 21:41] ethanresnick commented on #604
This can be closed now too! :)

[2015-05-18 21:42] #604 closed

[2015-05-18 21:53] ethanresnick commented on #331
@tkellen Done!

[2015-05-18 21:59] #331 closed

[2015-05-18 23:03] hhware commented on #622
@ethanresnick, @tkellen, thanks for your interest! At the time it was written, it was important to consider at least the items up to relationship-level `links` for 1.0, but since that is now handled as part of #625, this proposal becomes fully additive and naturally gets lower priority compared to other things. I have just "rebased" this onto #625 by simply removing the first items from the Propos

[2015-05-18 23:09] hhware commented on #497
@tkellen, I do not think it is always the case. Another consideration along the lines of what @ethanresnick is talking about: suppose one wants to display a set of resources _along with_ some statistical information about them, which is based on attributes/number/types/etc of their related resources. So both primary `data` and _some_ resources related to it are needed. One way to solve this is to

[2015-05-19 00:08] ethanresnick commented on #622
Ok, here goes some rough and only half-backed (hopefully) constructive criticism for possible simplifications:
- My inclination is that having classes of links add more complexity than it's worth. Categorizing link relations is, as your proposal mentions with `self`, difficult to do, and I'm not sure knowing a link's class is that helpful to a client that doesn't understand the specific link type

[2015-05-19 00:56] dgeb commented on #622
This is very interesting work @hhware. I think a PR to the base spec is premature at this point and would strongly prefer to see these HATEOAS concepts explored extensively as an extension. Of course, it would also be preferable if it could be an additive extension (or extensions) to the base spec. I think we should focus our work in the next few days on ensuring that this level of extensibility i

[2015-05-19 01:06] tkellen commented on #622
I think I was unclear in my previous comment--I meant a PR to ensure this kind of functionality is possible via additive changes later (basically what @dgeb just said).

[2015-05-19 01:15] dgeb commented on #602
Well, I'm certainly opposed to reserving an arbitrary list of params. We're sure to frustrate many API implementers by reserving params that they want to use. Furthermore, we'll misjudge future requirements and everything will be for naught.

[2015-05-19 01:55] dgeb commented on #497
As I see it, the core tradeoff here is:

A) A clear normative requirement that linkage data be included to connect primary and included resources.

vs.

B) The flexibility to allow clever ad hoc queries in which clients can intuit connections between primary and deeply nested resources, without the need to include intermediate resources.

---

The value of A is undeniable. It ensures that servers

[2015-05-19 02:16] dgeb commented on #617
JSON API 1.0 is coming in a few days. After this point, changes will only be additive in nature. If you'd like us to consider any particular aspect of Heroku's design guide, please open a very targeted issue for discussion ASAP.

[2015-05-19 02:16] #617 closed

[2015-05-19 02:40] csantero commented on #602
Would a third possible solution be to flip point 2 around and prefix all JSON API query parameters?Anything else could then safely belong to the user.

[2015-05-19 02:47] dgeb commented on #602
I suggest that we require that all custom query parameters contain a dash in their name, similar to custom element naming in the web components spec.

[2015-05-19 04:49] cziegenberg commented on #614
@ethanresnick:
I also think that extensions should be better defined before 1.0, because that's very important for the acceptance of JSON API and to avoid incompatibilities between extensions and with with future versions of the spec.

In #574 I suggested to use an own namespace for extensions (very similar to your proposal #603) to avoid conflicts - but that's only one problem.

Other thinks to c

[2015-05-19 06:25] hhware commented on #622
@dgeb, thanks for encouraging note!

@ethanresnick, thanks for review!

I think extensibility is worth a lot. The primary use case: the client wants to know which actions are available on a resource, whether standard or custom -- just filter by class including `action`. The client wants to know which pagination links are available on a resource/relationship/response, whether standard or custom --

[2015-05-19 06:43] ethanresnick commented on #587
As I was thinking tonight about extensions, I wanted to mock up what a JSON-LD–annotated version of a JSON-API resource object would look like. Below is what I came up with. I'm leaving it here for reference, in case it helps other implementors and/or our efforts at interoperability. Others can comment here too if they figure out a simpler way to do it.

[code]

Note that I'm using the `collection

[2015-05-19 07:42] ethanresnick commented on #622
I agree that URIs as keys are ugly, but prefixes do ameliorate this to a large extent. And we can get even more clever than my example earlier. For example, we could define the `api` prefix as automatically mapping to the `{current host}/rels/`. So an api at `http://example.com/v2` could return a resource-level `links` that looks like this:

[code]

And `api:publish` would be mapped to the url "ht

[2015-05-19 08:26] ksimka commented on #575
I feel like we're talking about two different but very similar cases :) So yes, further discussion is meaningless. I think I can explain my point of view verbally in a native language, but not here )

Anyway, thanks for your patience. And if you find (or create) some real example of API with that kind of behaviour (when only "readonly" info helps), please notify me, I'll try to show how it can be

[2015-05-19 12:17] dgeb commented on #618
Implemented and merged in #625.

[2015-05-19 12:17] #618 closed

[2015-05-19 13:04] dgeb commented on #577
I'm still :-1: on this. If anyone wants to speak in support, now is the time.

[2015-05-19 13:11] #621 closed

[2015-05-19 14:53] tkellen commented on #602
I'm :+1: to custom query params having a dash.

[2015-05-19 21:17] ethanresnick commented on #602
Ok, so the reserved words idea's gone.

I want to think about this issue more in the context of #614 and #603 to see if we can't unify them all, but, tentatively, I'd prefer a prefix character for user parameter names over a dash because:
1. I think it's actually a real _virtue_ if parameters custom-defined by an API are visually delineated from base-spec-defined ones. That clearly communicates to

[2015-05-19 22:33] hhware commented on #622
It is redundant only if they always coincide. What if an API had a naming convention for actions and did not want to follow suggestions of IANA for whatever reason? What if an API did not want to use URLs for custom link names? Even if it were not the case and the valuess were the same, some redundancy can be tolerated because RFC5988 is external to JSON API.

I personally really dislike the idea

[2015-05-19 22:33] #527 closed

[2015-05-19 22:38] tkellen commented on #622
I agree that this is **extremely** important stuff. That being said, I also think we need to give the developer community time to absorb and implement the concepts we're introducing before we layer on yet more.

What we are proposing with JSON-API is already a far cry from the "expose your database tables over the wire" mentality that pervades API design today. I strongly believe that we need to b

[2015-05-19 22:39] tkellen commented on #622
In short, please bear with us. We're headed in the same direction, just at different speeds. I think the best thing you can do **right now** is focus your efforts on making sure we don't introduce roadblocks that will prevent our progression in the future.

[2015-05-19 22:51] dgeb commented on #622
Well said, @tkellen - I agree completely.

[2015-05-19 23:12] steveklabnik commented on #622
Yes, absolutely.

[2015-05-20 00:11] elplatt commented on #587
Seems like the most reasonable approach. The "links" objects would need "self" keys as well, right?

The one concern I have is naming collisions between the jsonapi keywords and possible schema-defined terms. For example, if someone is trying to represent data that requires a "links" term and attempts to use a context mapping rather than an absolute IRI, they will overwrite the jsonapi "links" dat

[2015-05-20 00:32] ethanresnick commented on #587
Sure, the `self` key could exist in the JSON-API response, though that wouldn't be required. I've updated the example from my earlier comment to show what that would look like.

Yes, this is a risk/inconvenience. It can always be solved by moving the context closer to the data, but it might be a bit of a pain. Not sure there's anything to do about it, though.

[2015-05-20 01:18] tkellen commented on #622
I think this could be resolved with a focused PR that adds support for an
expanded form of links as an object (which would typically not be used
initially, but would normatively prepare implementations to handle this).
On May 19, 2015 7:12 PM, "Steve Klabnik" notifications@github.com wrote:

[2015-05-20 01:27] hhware commented on #622
Sure, this is the primary reason why this PR has been submitted before 1.0...

Agree, but that means that the (a) vs (b) from https://github.com/json-api/json-api/issues/622#issuecomment-103685484 has to be decided before 1.0. Opinions?

[2015-05-20 01:44] ethanresnick commented on #614
Some further observations on the types of extensions:
1. The second type of extension in my taxonomy above _perfectly_ fits the definition of an [RFC 6906 profile](http://tools.ietf.org/html/rfc6906), so it seems like we should use the existing profile specification to signal these extensions, unless there’s a compelling reason not to. For the third type of additive extension, it seems gray to me

[2015-05-20 02:03] tkellen commented on #622
I would say B. I think we should start by specifying the bare minimum "expanded" link form to support current functionality. The base spec should normatively make these two forms interchangeable, and perhaps nothing more needs to be said right now.

[code]

[code]

It's late and I'm probably missing something, but that's the sort of thing I'm imagining.

[2015-05-20 02:13] ethanresnick commented on #614
Some thoughts on constraining "type-1 extensions":

As I mentioned in my initial post, constraining type-1 extensions at all isn't strictly necessary. Even if they blatantly conflict with the base spec, either at the time of their authoring or down the line (if the base spec adds a similar feature), this won't cause problems for clients as long as the client has explicitly opted in to the extensio

[2015-05-20 02:26] tkellen commented on #622
We could perhaps reserve the entire namespace inside the object to start, save for `meta`, for people who want to explore this sort of thing.

[2015-05-20 02:27] dgeb commented on #622
I think allowing objects for links, reserving the whole namespace, and only recognizing `meta` and `href` is the way to go. Big :+1:

[2015-05-20 02:28] ethanresnick commented on #622
@tkellen Yup, I agree completely! Like I said earlier, I proposed (b) over (a) only because it seemed to grow more naturally out of what we have now. That isn't meant as a knock on @hhware's proposal—I think it's asking all the right questions and the primary difference we're talking about is stylistic anyway—I just think approach (b) feels like a more minimal change.

I'd only add that, to preser

[2015-05-20 02:30] dgeb commented on #622
I feel that allowing the array form is premature at this point and that the object form could encompass such a structure if needed.

[2015-05-20 02:32] tkellen commented on #622
Agreed.

[2015-05-20 02:32] ethanresnick commented on #622
@dgeb @tkellen Ok, that's fair. (Though #614 might change the needs here.) Out of curiosity, though, how would the object form accommodate multiple links? The solutions I can think of quickly are pretty ugly.

[2015-05-20 02:44] ethanresnick commented on #614
On JSON-LD and prefixing:

I'd really like it to be possible for a JSON-LD extension on top of JSON-API to be a "type-2" extension and therefore easier to integrate, since I think JSON-LD will only grow in importance. But the only way for a JSON-LD extension to be type two is for the spec to allow type-two extensions to put keys anywhere, at least if they're @-prefixed. But, as we're also going to

[2015-05-20 02:48] dgeb commented on #622
I really think it's premature to answer this now but: a member of the object (not sure of the key) could contain the array - or perhaps another object - that represents multiple links.

[2015-05-20 02:52] ethanresnick commented on #622
@dgeb Ok, yeah, that's more or less what I was thinking, and that's fine (again, pending #614).

Could you, @tkellen, and @steveklabnik actually jump back into #614 when you have a sec? I've been publicly brainstorming some stuff there, and am working it into a proposal, but it'd be helpful to know if you guys think I'm on the right track or think there's anything missing from my conceptual struct

[2015-05-20 02:53] tkellen commented on #622
@hhware Would you be willing to put together a PR to cover this bare minimum use-case? Do you feel like this is enough to pave the way forward for real support of this sort of thing eventually?

[2015-05-20 04:43] hhware commented on #622
Sorry, @ethanresnick, I really do not understand the point of multiple links under the same name, so my preference is not to support arrays :) IMHO, the notion of classes allows to achieve the same result in a more versatile way. In your example, the API returns 2 profiles. Why not have a link class `profiles`, assign it to both links and name them with distinct meaningful names? Both of them coul

[2015-05-20 05:49] ethanresnick commented on #622
@hhware I think we're talking past each other a bit. The key difference seems to be that your proposal has a required `name` property for each link with an optional RFC 5988 relation, whereas my proposal has a required RFC 5988 relation without (necessarily) giving each link a `name`.

<a id="named-collections"></a> Now, let me say right off the bat that I do think there are some use cases for giv

[2015-05-20 11:41] lode opened #630 "Example responses for other requests"
The homepage currently features an example for a collection request. When building other kind of requests I bump into things that are unclear for me. I would love to have some examples on other kinds of requests. They can be simple to start with, but a head start would be lovely.

Main points that are unclear to me right now are:

- resource (i.e. `GET /articles/1`): does it contain a `links.self`

[2015-05-20 13:06] dgeb commented on #557
Closed via #629.

[2015-05-20 13:06] #557 closed

[2015-05-20 14:27] dgeb commented on #481
Why? This requirement is for consistency _in general_. We have a hard requirement that `type` and `id` are always required in resource objects, which simplifies processing for implementations.

[2015-05-20 15:33] dgeb commented on #630
Neither is required. Both would have the same value in this case.

See http://jsonapi.org/format/#fetching-relationships-responses

[2015-05-20 16:03] ndrochak opened #633 "Fix typo. Missed a couple of links->relationships"
Completely new to github and can't figure out how to make a pull request for this (I forked and made changes in my fork, but not sure if that is even the right thing...), so just going to post it as an issue...

I think this is a typo when "links" was renamed to "relationships". The change was missed in two places.

-If a relationship is provided in the `links` section of the resource object, its

[2015-05-20 16:21] steveklabnik commented on #633
@ndrochak let's help you make a pr! If you go on this page: https://github.com/ndrochak/json-api/tree/ndrochak-fix-links

and click the little green button that looks like this:

![2015-05-20-122048_143x132_scrot](https://cloud.githubusercontent.com/assets/27786/7730848/a6966650-feea-11e4-939d-be5f61adcc8b.png)

you'll see
![2015-05-20-122135_995x351_scrot](https://cloud.githubusercontent.com/asse

[2015-05-20 16:23] ziege opened #634 "List in Recommendations/Naming incorrectly displayed"
After the merge of #601 the list under "Naming" doesn't display correctly, see http://jsonapi.org/recommendations/

I wanted to correct it, but in the preview the list is there... Does anybody know how to fix this?

[2015-05-20 16:49] ndrochak commented on #633
OK!  Got it.  Thanks.

[2015-05-20 16:52] lode commented on #630
Ok. And there is no preferred / recommended / best-practice one?

As far as I can see that only shows requests like `GET /articles/1/relationships/author`, not the list of relationships from a `GET /articles/1/relationships`.

[2015-05-20 17:19] dgeb commented on #630
For simplicity and full hypermedia support, include both. Sometimes they will be identical, such as when targeting a single resource.

Sorry - I didn't focus on that URL. There is no concept of a _relationships URL_ in the spec, just individual _relationship URLs_. If you were to implement that endpoint, it would be beyond the scope of the spec. While possible, we don't provide guidance and make n

[2015-05-20 17:23] dgeb commented on #634
Looks like a line break is needed before the list.

[2015-05-20 17:43] nevson commented on #497
@daliwali, @hhware Thanks for your feedback :)

How could an exemplary implementation look like for my example mentioned in https://github.com/json-api/json-api/issues/497#issuecomment-101205664 ? Honestly this is to me a bit unclear.

@dgeb Sorry for asking but would that mean that a request for `comments.author` MUST automatically also include comments in the response so that it's fully connecte

[2015-05-20 17:46] tkellen commented on #497
@nevson As an API implementor, you'd internally create an alias, like `participants` or `comments-authors`.  This would appear in the `relationships` of the primary resource under a key of the same name, allowing you to skip intermediate records while still linking them to the primary resource.

[2015-05-20 17:47] dgeb commented on #497
@nevson To add to what @tkellen said, `comments.author` would still be allowed but full linkage would be required in the response. Please see https://github.com/json-api/json-api/pull/637 for complete details.

[2015-05-20 17:56] lode commented on #630
I see. Thanks for the answers.

I think an example single resource response could help others getting started. Do you want to leave this open for that? Or shall I close as my personal questions are resolved?

[2015-05-20 18:03] tkellen opened #639 "visualization for newcomers"
Understanding JSON-API is pretty challenging for a newcomer. Digesting the normative text of the spec is non-trivial to say the least.

I believe we can make an immediate understanding of the specification possible by providing a visualization prominently on the home page.

This visualization would be a response document featuring the full range of JSON-API functionality. Hovering over the members

[2015-05-20 18:04] tkellen commented on #630
I sympathize with your concerns @lode. I've been considering a possible solution to this for some time and this issue has prompted me to write it up. I'm going to close this in favor of #639.

Thanks!

[2015-05-20 18:04] #630 closed

[2015-05-20 18:16] johnholdun commented on #639
Hi! This is a cool idea and I'd like to help. (This is my first comment here but I've been lurking for months and am so excited by this project.)

[2015-05-20 18:22] cziegenberg commented on #634
Created an PR for it.

[2015-05-20 18:22] #634 closed

[2015-05-20 18:31] lode commented on #639
Ha, thats sounds beautiful. A lean plain-text example would be a great start I would say :)

[2015-05-20 18:33] tkellen commented on #639
@lode I'd gladly review a PR for that if you're willing!

[2015-05-20 18:50] pixelhandler commented on #639
I use the paw rest client app https://luckymarmot.com/paw which does have a handy way to export the request/response info for example: https://github.com/pixelhandler/blog-api/tree/master/docs

[2015-05-20 18:58] dgeb commented on #584
Closed via #638.

This can now be handled with the `parameter` member inside the `source` member of an error.

[2015-05-20 18:58] #584 closed

[2015-05-20 18:59] #497 closed

[2015-05-20 19:00] dgeb commented on #624
Closed via #637.

[2015-05-20 19:00] #624 closed

[2015-05-20 19:02] tkellen commented on #612
I'm gonna close this as resolved for now. @bobholt I'd love a PR with further clarification where you think it belongs, if you have the bandwidth to offer one.

[2015-05-20 19:02] #612 closed

[2015-05-20 19:08] tkellen commented on #562
@hhware I think we've already introduced that?

[2015-05-20 19:11] tkellen commented on #486
resolved in 8c63a72b42869835271df63800d980ad4989e005

[2015-05-20 19:11] #486 closed

[2015-05-20 19:20] tkellen commented on #639
@johnholdun I think the current example on the home page would be a good place to start. A first step would be making it so when you hover/tap on any top level key it displays the definition and describes what is legal within it. Once that first hurdle is completed we can take things further!

In order to keep this as simple as possible, I think we can develop this as a wholly standalone thing, ma

[2015-05-20 19:24] johnholdun commented on #639
@tkellen My thoughts exactly: https://github.com/johnholdun/json-api-visualization

I'm working on an annotated document at the moment, using the home page example and [Docco](https://github.com/jashkenas/docco) as a first stab. I quite like the default side-by-side display (as seen in use with [the Backbone.js annotated source](http://backbonejs.org/docs/backbone.html)), but this structure should

[2015-05-20 19:30] tkellen commented on #608
@ethanresnick Have the bandwidth to tackle a PR for this?

[2015-05-20 19:34] ethanresnick commented on #639
@tkellen I've actually been thinking about the same thing, but haven't had the bandwidth either! Excited to see what comes of this.

[2015-05-20 19:45] johnholdun commented on #639
Here's an idea, using a slightly extended version of the home page example + copying and paste bits of the spec: http://johnholdun.github.io/json-api-visualization/

Going to keep playing with it; PRs and Issues are welcome on that repository to reduce unrelated noise on this one.

[2015-05-20 19:45] steveklabnik commented on #639
ooh that's neat

[2015-05-20 20:06] dgeb commented on #633
As mentioned in #636, this has indeed been fixed in both places where it appeared. Thanks again for reporting this @ndrochak. :+1:

[2015-05-20 20:06] #633 closed

[2015-05-20 20:06] tkellen commented on #577
I agree that we may someday wish to sort things other than resource collections, but I also agree with @dgeb that we shouldn't complicate the most common case to support something we don't yet have a need for. I'm going to close this in favor of considering another query param in the future.

[2015-05-20 20:06] #577 closed

[2015-05-20 20:19] ethanresnick commented on #608
@tkellen I'll try later tonight, but no guarantees. Like I said, all my family's in town, so I don't have much time, and I'm much more focused on trying to write up something for #614 (which will take a ton of copy, but it ultimately seems like the most important issue, since it determines what we can get wrong now without too many consequences).

[2015-05-20 21:22] tkellen commented on #639
I think this is a great start @johnholdun, at least for figuring out what we want to state!

That said, I'm thinking more along the lines of an interactive snippet of JSON. If a user clicked on a key, it would be highlighted and some text would appear either as a tooltip, or perhaps in a sidebar. In a slightly more complex example, clicking on "attributes" or "relationships" would highlight the ke

[2015-05-21 01:10] dgeb opened #643 "Mark official extensions as preliminary in advance of base spec reaching 1.0"
The bulk and jsonpatch extensions need thorough review, which may not be possible before the base spec is tagged 1.0.

[2015-05-21 01:16] dgeb commented on #561
Removing 1.0 milestone. Prefer to mark official extensions as preliminary in advance of 1.0. See #643.

[2015-05-21 02:07] dgeb commented on #509
Removing milestone now that #641 clarifies the usage of include with relationship endpoints.

[2015-05-21 02:36] #283 closed

[2015-05-21 02:50] ethanresnick commented on #614
@dgeb @tkellen Is there any chance we're going to get to this pre-1.0? What time are we tagging 1.0 tomorrow? Because I might have time to put together a full proposal by tomorrow morning, but I think this _really_ should be considered more before 1.0 no matter what.

[2015-05-21 03:03] dgeb commented on #614
@ethanresnick we don't have a fixed time to tag 1.0 tomorrow. But we will tag 1.0 tomorrow.

I am following your comments from a taxonomical perspective (delineating the types of extensions) but I am unclear how these delineations will coalesce into changes to the base specification. As far as I'm concerned, the most important aspect of any extension is that it is an agreed upon contract between c

[2015-05-21 06:53] hhware commented on #622
@ethanresnick, got it. Indeed, it seems to be a very reasonable shortcut when relation name is used for link object key.

Well, perhaps we should indeed allow arrays as values of `href`? Unless we do it now, it would be awkward, e.g., to have `href` for a single URL and `hrefs` for multiple URLs, and the only way to have both under `href` is to define the whole thing in extension, not in the base

[2015-05-21 10:23] jaspervz opened #647 "Sparse field sets examples not RFC 3986 compliant"
The current examples for sparse field sets use non-RFC 3986 compliant URLs: [ and ] are reserved characters and must be percent encoded.

The RFC 3986 compliant version of the example is: GET /articles?include=author&fields%5Barticles%5D=title,body&fields%5Bpeople%5D=name

Should [ and ] be used to denote the type if the client needs to encode these? At least the example needs to be updated becaus

[2015-05-21 12:29] wvteijlingen opened #648 "Support for read-only non-persisted resources"
I'm running into a use case for an API regarding read-only, non-persistent resources. This API needs to have some endpoints for statistics. These statistics are calculated on the fly by the server and are not persisted in any way. For example: getting all visits within a certain date range.

The current spec states that resources MUST contain an `id` key, which is useless in this case because thes

[2015-05-21 12:54] dgeb commented on #648
If the statistics do not contain a type and ID, then they are no longer considered resources from the spec's perspective. This was done in order to ensure a consistent representation and simplify processing by both clients and servers.

Here are some options:
- Statistics could be returned as members of a complex attribute on a resource. Any JSON values are allowed for attribute values. In this wa

[2015-05-21 13:00] tkellen commented on #622
Closing in favor of #644.  Thanks @hhware!

[2015-05-21 13:00] #622 closed

[2015-05-21 13:04] bintoro commented on #648
Another option is to generate a UUID or timestamp to be used as an ID, in which case the statistics may be represented as ordinary resources. There's no requirement that resources must be persistent or updateable.

[2015-05-21 13:08] dgeb commented on #648
Good point, @bintoro. That's definitely a valid option too.

[2015-05-21 13:11] wvteijlingen commented on #648
Hmm I see your point in that they should not be considered resources in this case. I think I'll make use of an extension for these endpoints then. Thanks!

[2015-05-21 13:11] #648 closed

[2015-05-21 13:29] #643 closed

[2015-05-21 13:33] #562 closed

[2015-05-21 13:54] ethanresnick commented on #648
Fwiw, I'm with @bintoro. Give them a temporary, meaningless id and then, if that's ever requested in the future, return `410 Gone`. That's much easier than defining an extension, I think.

[2015-05-21 13:56] tkellen commented on #648
Chiming in to agree with @ethanresnick.

[2015-05-21 15:49] lgebhardt opened #652 "Meta alone as a valid top level member"
I'd like to allow `meta` to be a valid top level member for all responses. This will allow responses, by way of the top level `meta` member, to return debug, server metrics, and other information for all requests. Currently this is prohibited for deletes and updating relationships (and maybe a few others).

In the cases where 204 No Content is returned I'd propose we allow a 200 OK response as wel

[2015-05-21 15:50] tkellen commented on #652
:+1: to a PR implementing this.

[2015-05-21 15:56] bintoro commented on #652
Top-level meta items can pertain to anything: primary data, included data, or the response as a whole. So how about just "non-standard meta-information"?

[2015-05-21 16:46] #534 closed

[2015-05-21 16:57] lgebhardt commented on #652
:+1: on "non-standard meta-information"

I'll put a PR together.

[2015-05-21 18:25] tkellen commented on #608
Resolved in #655.

[2015-05-21 18:25] #608 closed

[2015-05-21 20:22] tkellen opened #659 "Document Cleanup"
Before we mark 1.0, we need to review the specification and do some cleanup to address the now scattered nature of the document. Below, a checklist of things we want to review:

* [x] clean up definition of meta and semantics around use
* [x] clean up definition of links and the semantics around use
* [x] replace references to URLs with the more general "links" (which can be a string or link objec

[2015-05-21 20:26] dgeb commented on #652
Closed via #657

[2015-05-21 20:26] #652 closed

[2015-05-21 22:55] ethanresnick commented on #481
I still think it would be desirable to have this capability, to handle the motivating example I gave when opening the issue (which has happened to me in real life!). However, I understand what @dgeb's saying about our resource identification rules appearing to preclude mutating `type`/`id`.

But I think there's a clever way around this. According to the `PATCH` spec, a `PATCH` request "affects the

[2015-05-21 23:08] ethanresnick commented on #602
To make my comment more specific above, I'm now in favor of a prefixing approach not only because it offers stronger visual delineation than dashes and a weaker intrusion on the user's naming scheme, but also because, if we merge a version of #650 eventually, using prefixes here would let us have a unified approach to delineating user- and spec-defined names throughout. This is because #650 requir

[2015-05-22 05:46] cziegenberg commented on #659
I just created PR #663, to avoid conflicts with future versions and the implementation of deferred features (like the extensions), This should be merged before 1.0.

[2015-05-22 05:57] ziege opened #664 "Sub navigation requires JavaScript"
I like the new layout, but I wondered why there isn't a sub navigation on the format page anymore. Also the other pages didn't have a sub navigation. Then I realized that it requires JavaScript, which is disabled in my browser by default and only activated for selected domains.

It would be good to provide a sub navigation that doesn't depend on JavaScript (and scrolls with the page) or at least t

[2015-05-22 13:25] dgeb opened #666 "Resolve linkage inconsistencies and concerns"
This is a follow up to concerns about inconsistencies in linkage raised in #548, #579, and #637.

The solution that has landed in the spec (via #637) is to require full linkage within compound documents.

This solution removed the ability to exclude intermediate linkage. The previous method of exclusion was to allow multiple paths with the `include` parameter and only include the leaf node. This w

[2015-05-22 14:15] ksimka commented on #666
So if a path consists of 3 parts, it'll look like

[code]

Right?

For me it looks like a bad request, conflict. Can we be more strict here? I can imagine why one client will build that kind of request (conditional query builder), but hey, just validate it and fix before run.

Can you please explain what do you mean? I'm watching the spec evolution, but not sure about that inconsistency.

[2015-05-22 14:35] dgeb commented on #666
Yes, that's what I had in mind. Thanks for the clarifying examples.

Maybe `409 Conflict` is the right answer here. It would certainly be easier to implement.

Compound documents currently require full linkage. However, `fields` can be used to exclude fields, which could prevent full linkage from being present in a compound document.

[2015-05-22 14:45] ksimka commented on #666
But how? `fields` param controls objects' fields, not relationships. Or do you mean empty value: `fields[TYPE]=`? Does that mean "exclude all the TYPE resources"? (couldn't find anything about empty `fields` value) For me it's more like "attributes will be empty, but id, type and others will not".

[2015-05-22 14:48] tkellen commented on #666
From the spec:

[2015-05-22 15:01] tkellen commented on #666
I believe that there **MUST** be a way to directly link to included records from the parent when intermediates are excluded.

For example given this resource object...

[code]

... if you do `?include=-comments.author`, the authors will be populated under `included` but there will be no way to link them back to the primary data ("roll them up"). This seems like an abuse of `include` as a hacky que

[2015-05-22 15:07] tkellen commented on #666
To be clear, I **want** to be able to exclude intermediate records but I think it makes no sense whatsoever without "rollup" to the primary data (or some entirely new construct in the spec).

[2015-05-22 15:09] ksimka commented on #666
Thanks, @tkellen .

But now, since we have mandatory full linkage, it looks a bit outdated. `include` is for controlling relationships, `fields` is for controlling attributes.

Otherwise, according to the current spec, for the following request

[code]

I **must** return the `author` object, because of `include`, and **must not** return the `author` object, because `fields[articles]` does not cont

[2015-05-22 15:13] dgeb commented on #666
I'm going to suggest that we only deal with the `fields` / full linkage inconsistency in the spec (special case an allowance for not providing full linkage when relationship fields are excluded).

I'm willing to shelve the rest of this and consider alternatives post 1.0. We've been down the "rollup" path before and it becomes very difficult to specify and implement.

Please comment here if you're

[2015-05-22 15:14] tkellen commented on #666
You're right @ksimka, we need to deal with this. That's why we have this on the status page for the site.

[2015-05-22 15:17] bintoro commented on #666
What's the primary use case for excluding intermediate resources? Is it payload size, efficiency on the server, or something else?

[2015-05-22 15:23] ksimka commented on #666
@tkellen

What if we say we can't totally exclude relationship from the response? Let's make `-` mean "I don't want data for that resource", but the other part of the object must be there.

[code]

[code]

What do you think?

@dgeb

And that's all.

[2015-05-22 15:24] dgeb commented on #666
@bintoro Probably payload size for most implementations. Could be server efficiency for others.

Anyway, I don't think it's worth introducing any complexity to the spec at this point. I'm going to close this once we fix the inconsistency.

@ksimka For your request, the `author` object should be returned as a person, but the author relationship would not appear in each `article`.

[2015-05-22 15:27] dgeb commented on #666
Let's no longer discuss using `include` to exclude intermediate linkages. Let's leave that "as is".

This is not correct.

[2015-05-22 15:30] tkellen commented on #666
@bintoro Most probably payload size, but efficiency could matter too. In the insane query I mentioned above `?include=comments.author.articles.comments`, you could traverse to the target comments with a single SQL query, but if intermediate linkage is required, the entire graph has to be processed.

Per @dgeb's previous, I'm done talking about this for now. If I had one wish for what we would take

[2015-05-22 15:31] dgeb commented on #666
And sorry - I submitted my comment earlier than intended.

To be clear:
- `include` is used to control inclusion of resources related to the primary resource.
- `fields` is used to control which fields appear in resources of each type.

I don't want to change this. I only want to carve out an exclusion in the full linkage requirement when `fields` excludes a particular relationship that would othe

[2015-05-22 15:33] bintoro commented on #666
@tkellen I'm just wondering, must the "extra" linkage necessarily reside under primary data? When payload size is a concern, you could just put the excluded records in `included` anyway but transmit linkage data only, i.e. drop attributes if they're huge. Of course this doesn't help if query simplification on the server is the goal.

[2015-05-22 15:39] bintoro opened #669 "Media type parameter namespace"
It's unclear whether (extended) APIs will be free to modify the JSON API media type with proprietary parameters.

If this is not going to be allowed, then the newly created *Media Type Negotiation* section could just as well prescribe a blanket ban on any parameters instead of singling out `ext`.

But if proprietary parameters will be allowed, then it means JSON API itself won't be able to introdu

[2015-05-22 15:41] ksimka commented on #666
@dgeb

BTW, it's a request from the current docs.

Maybe give `include` a higher priority? So `/articles/1?include=comments.author&fields[article]=body&fields[comment]=text` will be equal to `/articles/1?include=comments.author&fields[article]=body,comments&fields[comment]=text,author` .

[2015-05-22 15:52] dgeb commented on #666
We should probably make it seem more realistic. And explain it better non-normatively. Sorry to say "your request" - don't mean to pin the blame on you :)

[2015-05-22 15:57] tkellen commented on #666
@ksimka I think you're misunderstanding the problem (this one is tricky and I just left a note that we need to clarify it in the spec).

When you use `include` you are including things by relationship name. The result might be to drop resource objects into `included` that have multiple types (we support heterogenous collections). Imagine `/photos?include=usedBy` where `included` is populated by re

[2015-05-22 16:01] dgeb opened #670 "Provide exception for compound document "full linkage""
Allow an exclusion in the full linkage requirement for compound documents when `fields` excludes a particular relationship that would otherwise contain linkage.

[2015-05-22 16:01] dgeb commented on #666
Closing in favor of #670

[2015-05-22 16:01] #666 closed

[2015-05-22 16:03] ksimka commented on #666
@tkellen, ouch, my bad, thanks for clarifying )

[2015-05-22 18:19] alexwen commented on #543
@tkellen I am wondering if you could potentially elaborate a bit more with respect to the difference between self, related on relationships. Perhaps an example of how one would manipulate a relationship and how that would differ from the self link? Why wouldn't related go to the author resource for instance? For example:

[code]

[2015-05-22 20:55] ethanresnick commented on #670
@dgeb I think part of this is addressed by #580, which still looks mergeable. I'm trying to write up a PR for the rest of it now too~~, but (and I'm probably missing something insanely obvious), I can't find the normative requirement for full linkage in the current spec. Is it there? The only thing I see is the non-normative note that starts with "Because compound documents require full linkage,..

[2015-05-22 20:58] ethanresnick commented on #669
@bintoro Media types must be registered with their allowed parameters at the IANA, so we couldn't (in a compliant manner) allow users to add their own parameters even if we wanted to. I'm working on some cleanup for the Media Type Negotiation section that takes this into account. But, other than that, I don't think we have to make any mention of media type parameter names in the base spec (except

[2015-05-22 21:04] ethanresnick commented on #666
One idea, that I'm just documenting here for future reference (we don't need to act on it before 1.0) would be to have a `"linkage"` object at the resource object's top level. The keys of `"linkage"` would be populated with paths from the `include` param and wouldn't be subject to `fields` restrictions. This key could contain composite relationship paths (e.g. `comments.author`) without implying t

[2015-05-22 22:14] ethanresnick commented on #477
I still think this is a really compelling proposal. As written, it wouldn't be backwards-compatible with 1.0, but that's easily fixed. I think what could happen is that, post 1.0, we allow resource identifier objects to take an optional `"href"` property. `"type"` and `"id"` would still be required, though, for backwards compatibility.

[2015-05-23 00:37] ethanresnick commented on #460
I'm gonna close this, since extensions aren't even in the base spec any more and we've added 400 responses for unsupported base spec features like sorting.

[2015-05-23 00:37] #460 closed

[2015-05-23 06:06] ethanresnick opened #675 "Relationships between resources controlled by different APIs"
**This proposal is for post 1.0. I don't think anything in it would require pre-1.0 changes, though let me know if I'm missing anything.**

Sooner or later, we're probably going to want standard JSON API relationships to be able to connect together JSON API resources that are controlled by different APIs/organizations. This is a pretty big part of the web/hypermedia, and its presumably part of the

[2015-05-23 06:27] ethanresnick commented on #675
Aside: if people think the above is a good idea, it might make sense to add something like the below to 1.0:

[2015-05-23 11:43] dgeb opened #677 "Specify `id` and `type` value requirements"
We do not explicitly address valid values for `id` and `type`, beyond that they MUST be a string.

`type` values should probably use the same restrictions as member names. We need to ensure that types can be identified in `field[TYPE]` params for instance.

Requirements for `id` values could be less restrictive, but I'm not sure that they should be.

[2015-05-23 11:53] dgeb commented on #677
Just read [this related comment](https://github.com/json-api/json-api/issues/675#issuecomment-104853359) from @ethanresnick proposing:

[2015-05-23 11:58] dgeb commented on #669
It seems that we really should reserve the right to define any and all media type parameters, and not allow implementations to define custom ones. There are plenty of alternatives for implementations to do API versioning, etc.

[2015-05-23 13:32] bintoro commented on #669
@dgeb I tend to agree and had already typed up a PR to disallow custom parameters when I decided to open this issue instead.

If a custom versioning scheme is communicated in a separate header, then a provider may not be able to easily use the server platform's media type matching services that are generally based on the `Accept` header. I figured this might annoy some people.

Also, versioning is

[2015-05-23 14:35] ethanresnick commented on #677
Yup, the `type` value should definitely follow the member name rules to avoid url conflicts.

That SHOULD I proposed would basically then be an extra recommendation to avoid Unicode and the resulting percent a encoding. But it wouldnt be a MUST, because using unicode in `"type"` might sometimes be neccesary.

[2015-05-23 19:14] ethanresnick commented on #602
Hey all, I just wanted to share a [bit of history](http://tools.ietf.org/html/rfc6648) that could inform our decisions here. I haven't digested that document fully yet, but it's worth taking into consideration and might change my view on prefixing.

[2015-05-23 19:45] cziegenberg commented on #602
Intersting document... In the recommendations part there is a note, that parameters could still be prefixed with e.g. a company name (or extension name here) for namespacing.

Related to this I thought about extension attributes and came to result that prefixing is better than wrapping them in a special extension container, because of other suggestions like the immutable/read-only which shoulb be

[2015-05-23 20:37] ethanresnick commented on #669
I'm far from an expert on API versioning, but I know that it's a really hard problem, and I doubt that we're going to come up with a good, standard solution in the next few days. Even if we reserved something like `api-version` for private use in the `Accept` header (which is a questionable use of content negotiation in some cases), I think defining the precise role of that parameter would be a pa

[2015-05-26 14:09] zekefast commented on #7
I think as this issue was closed the (chapter in FAQ)[http://jsonapi.org/faq/#how-to-discover-resource-possible-actions] need to be updated.

[2015-05-27 02:32] ethanresnick opened #683 "Identify Errors by URI"
Before I write up a PR for this, I want to see if there's interest. The idea is to identify particular error cases described by the spec with a URI, which would live at the `href` property in the returned error object. This would have a few advantages, as I see it:

1. It would allow clients to distinguish between multiple errors that return the same status code. For example, a 403 Forbidden can o

[2015-05-27 02:39] dgeb commented on #683
I think that we're going to have to accept SHOULDs post-1.0 as the most stringent possible requirements, given the lack of time available and experience with real world implementations in this regard. It would probably be best to start with recommendations and then work from there.

[2015-05-27 05:10] ethanresnick commented on #683
@dgeb Sounds good! I'll let this sit until after the 28th and we'll revisit it then.

[2015-05-27 07:32] hhware opened #684 "Links, relationships, discoverable actions, mapping to RFC5988 (take II)"
Please find below a rewritten #622, intended to start post-1.0 discussion. I think that this is compatible with #675.

One of the main points in the discussion in #622 was where to place RFC relation name, to links member keys or inside link objects. IMHO, both options have strong arguments in favor of them, and I think they have distinct use cases. Forcing a given option in a use case suitable fo

[2015-05-27 07:33] hhware commented on #477
@bintoro, @ethanresnick, having in mind all changes to `links` which has happened and are about to happen, I think this proposal is much less compelling now: those `target`/`href` are actually links, so IMHO, they should be treated as all other links. I am making a proposal for this in #684. Opinions?

[2015-05-27 07:33] hhware commented on #675
@ethanresnick, IMHO, an interesting beginning of what will hopefully be a great development!

[2015-05-27 07:34] hhware commented on #683
@ethanresnick, going one step further, could `links` in error objects be considered for this purpose?

[2015-05-27 12:06] ethanresnick commented on #477
@hhware It seems like the tradeoff is:
- If we put the `href`/`target` key directly in the resource identifier object, we can associate the provided URI with a particular `type`/`id` pair, which we can't do if we just have a list of `item` links for the relationship
- But, having `item` links is more consistent with the rest of the `links` design than a stray `href` key.

My inclination is that ha

[2015-05-27 12:42] joananeves opened #686 "Implementations out of date or not being maintained"
[Examples] (http://jsonapi.org/implementations/#examples) has a very nice reference to http://restpack-serializer-sample.herokuapp.com/ but examples are out of date...
It seems that it's not only examples, it seems that [RestPack::Serializer] (https://github.com/RestPack/restpack_serializer ) is not being mantained also...
Being JSON API almost being release as 1.0, shouldn't [implementations] (ht

[2015-05-27 12:46] ethanresnick commented on #683
@hhware Yes, it would be reasonable and more consistent to say `"links": {"describedby": "..."}` from within the error object in place of `"href": "..."`. But that would be a (small) breaking change. @dgeb @tkellen Would you be in favor of such an adjustment?

[2015-05-27 12:49] tkellen commented on #686
Great point @joananeves. We should definitely review this list before marking 1.0 officially. Long term, I have plans to implement a test suite for the specification using http://github.com/endpoints/fantasy-database, and the integration suite from http://github.com/endpoints/endpoints. Eventually we'll be able to use those things collectively to verify compliance with much more accuracy.

[2015-05-27 12:56] ethanresnick commented on #684
@hhware Thanks for writing up a new version of this! I'm really excited for these ideas to become reality.

I'm still thinking about many of the details of your proposal, but I wanted to respond to bullet 10 for now (see also my response to bullet 9 [here](https://github.com/json-api/json-api/issues/477#issuecomment-105885734)). First, I think it's a great idea: a starting point is clearly very im

[2015-05-27 14:33] tkellen commented on #432
Resolved in #687!

[2015-05-27 14:33] #432 closed

[2015-05-27 14:38] taion commented on #432
:clap:

[2015-05-27 14:44] #670 closed

[2015-05-27 14:54] dgeb commented on #481
The uniqueness contract for `type` and `id` should be binding. This is very important in a distributed system (which describes every implementation of JSON API). Imagine an offline client that attempts to reconcile its version of a resource with one that's changed its `type` or `id`. I'm pretty certain that we don't want to open this Pandora's box by allowing it in the spec.

[2015-05-27 15:13] joananeves commented on #481
@ethanresnick It would be great if we had a 'Changing Polymorphic Type' or something like that in [Patch Operations](http://jsonapi.org/extensions/jsonpatch/#patch-operations)

[2015-05-27 15:14] hhware commented on #684
@ethanresnick, it may be a stretch, but I can imagine that some implementations might find use for both. E.g.,  `home` could be a link specifically to the primary data structure for the client to explore, whereas `contents` could be more like an actual ToC referring to various resources about the given installation of the given API: the URL referred to by `home`, link to API docs, authn providers

[2015-05-27 15:15] hhware commented on #477
@ethanresnick, `about` indeed seems better.

The other side of your proposal is that it makes that type of link dependent on presence of linkage data, which is optional. I viewed this more as an additional independent way to represent the relationship data. Perhaps we can have best of 3 worlds (of course, having `about` optional on all levels)?

[code]

[2015-05-27 15:22] csantero opened #689 "some top-level keys should not be allowed unless primary data is present"
The spec currently says:

[code]

In cases where `"data"` is absent (i.e. the response contains errors or just plain `"meta"`), then I believe `"included"` and maybe also `"links"` should be disallowed from the top-level. I wasn't able to find any language that stated this explicitly, though maybe I missed something.

[2015-05-27 15:27] ethanresnick commented on #477
@hhware Good point. So, yeah, I wouldn't mind having an option for a link at the relationship level too, for when there's no linkage. I would go back to calling that relationship-level relation `item`, though, since I think it's a more specific descriptor (i.e. "each uri is an item of the relationship" is more specific than saying "the relationship is about each uri"); the only reason I couldn't u

[2015-05-27 15:42] hhware commented on #477
@ethanresnick, I would use the same key name in both cases because it actually refers to the same thing. I think different keys would bring confusion. Perhaps a new relation can be registered if none of the existing ones is satisfactory.

[2015-05-27 15:43] hhware commented on #683
@ethanresnick, indeed, I somehow missed that the spec already has `href` in `errors`! In this case, I believe it should be converted to `links`. Submitted #690 for that.

[2015-05-27 16:39] dgeb commented on #481
It's impossible to broadcast a change to a `type` / `id` pair without establishing a different unique key with which to identify the resource, and this spec has none.

I'd suggest that if you want to change a polymorphic type without changing the resource, then the change should actually be made to an attribute other than `type`. For example, `category`, `classification`, etc.

[2015-05-27 21:00] #677 closed

[2015-05-27 21:38] #689 closed

[2015-05-27 21:52] #602 closed

[2015-05-27 22:46] tkellen commented on #669
The resolution to this is #703.

[2015-05-27 22:46] #669 closed

[2015-05-27 23:07] csantero opened #704 "CSS for code tags doesn't let them stand out inside lists"
When code tags appear in paragraphs, they get the shaded background. This CSS doesn't apply inside lists. Currently, the word "about" in the second item of the before screenshot doesn't really stand out. Applying the paragraph `code` CSS to all `code` tags makes "about" stand out, but now the subject of each list item is also shaded, which may or may not be the desired effect. What do people think

[2015-05-27 23:28] ethanresnick commented on #481
We could have the old resource's URI `303 See Other` to the new URI. So, when the client tries to request the new version of the resource it has a local copy of, that server can respond with the new resource. The new and the old resource may be incommensurate because they have different types, but that's no more true than if they had different `catergory`s or `classification`s.

Moreover, if chang

[2015-05-27 23:30] tkellen commented on #481
The issue that won't die. These are all good points @ethanresnick.

[2015-05-27 23:32] ethanresnick commented on #481
Thanks @tkellen, and props to you and @dgeb for closing a bunch of other longstanding issues today! Looking forward to 1.0!

[2015-05-27 23:38] ethanresnick commented on #684
@hhware Maybe. Since we have to design the entry point document's format at some point (which we should probably do in a separate issue), I think we can do that first and then see whether two distinct relations are needed. My point was just that a new relation might not be necessary and, of course, its always better to repurpose existing relations where possible.

**EDIT**: @hhware can you actuall

[2015-05-28 01:37] dgeb commented on #481
These points are related to friction between the URI vs type/id being the source of identity for a resource in a given API. Since type/id are always required, and self links are not, this spec appears to have chosen type/id for identity. Consider that resource identifier objects contain only type/id.

I would expect a 30X response if a URI has changed for a resource - for instance, if a URI templa

[2015-05-28 02:21] dgeb commented on #481
As much as I'd like to, I won't close this a third time unilaterally, but I would like to un-milestone it if possible. Do those pushing for changes believe anything needs to be decided pre-1.0?

[2015-05-28 02:46] ethanresnick commented on #481
I'm not sure. If we don't decide anything, what would that mean? That the response to an attempt to change type/id is just unspecified?

[2015-05-28 02:47] ethanresnick commented on #481
I agree that this could be an implementation burden, and we should take that into account when choosing what to do. I don't think it would conflict with even JSON API's identification semantics, though, since 303's target is explicitly a _different_ conceptual resource, whereas 301/302 are meant for the same conceptual resource now living at a different URI.

[2015-05-28 03:53] ethanresnick commented on #481
@dgeb Re the alternate approaches... Teachers and administrators was actually a pretty bad example, since you're right that someone can be both a teacher and an administrator at the same time. So let me give the real example from my API, and then look at the alternatives in that light.

My api has a `"people"` and `"presenters"` type. It's a strict hierarchy, i.e. being a presenter implies being a

[2015-05-28 12:12] dgeb commented on #481
@ethanresnick thanks for the specific example.

I'd recommend keeping both people and presenters the same type: `people`. You say that a presenter can not go back to being a plain person, but I would allow this scenario just in case (mistakes get made).

There are three nuanced ways this could be modeled:
- People resources could have a flag - `presenter` - that affects validation rules for certai

[2015-05-28 12:25] dgeb commented on #481
I believe the spec specifically disallows this currently:

[2015-05-28 12:46] tkellen commented on #481
So, I re-opened this because the 303 status code seemed perfect for handling the use-case that @ethanresnick is describing, but @dgeb just pointed out that we can only rely on this if we normatively enforce self links on all resource objects. I'd forgotten that nuance because my implementation provides them and I wouldn't ever consider omitting them.

Since we're definitely not going to normativel

[2015-05-28 12:51] tkellen commented on #481
I think we should close this and pursue a discussion about the possibility of adding subtypes post 1.0. @ethanresnick does that work for you?

[2015-05-28 13:25] ethanresnick commented on #481
@dgeb The more I think about this, the more I see where you're coming from. I really wanted to maximize client convenience, which was driving my original proposal, and I was just hoping we could figure out the identity stuff somehow with redirects. But I think you and @tkellen are right that, as long as we have `type` and `id` as a first-class identity mechanism, URI-based approaches to referencin

[2015-05-28 13:25] #481 closed

[2015-05-28 13:43] dgeb commented on #481
@ethanresnick I definitely understand your perspective here as well and the challenges to model your resources as cleanly as possible. There are some good points to revisit after 1.0, such as relationships inside complex attributes. These kinds of challenging use cases will hopefully help improve the spec post-1.0.

[2015-05-28 14:53] hhware commented on #432
@tkellen, I do not think #687 fully resolves this issue: it does define the way to communicate version X.Y to clients, but it does not define meaning of X and Y.

Why not adopt semver? Versions will always be 1.X.Y, which clearly communicates the notion of backward compatibility.

[2015-05-28 15:09] tkellen commented on #432
The only meaning we can convey with a version number alone is that some new additive features _might_ be supported. It doesn't matter what versioning scheme we use. In all cases, the spec will be backwards compatible.

If you're looking for more meaning than that, it's possible to give each optional feature a name and include a manifest in `meta` under the `jsonapi` object that indicates which fea

[2015-05-28 15:16] tkellen commented on #704
Thanks for pointing this out @csantero, I've just submitted a PR to fix.

[2015-05-28 15:17] #704 closed

[2015-05-28 19:26] tkellen commented on #544
@maetl Sorry for the terribly delayed reply. I just tested this on express (node) and rack (ruby). Both treat percent encoded and literal values the same. I'm not sure what server you're using, but I suspect you'll see similar behavior anywhere else. I'll update the specification to include a note about this.

[2015-05-28 20:47] tkellen commented on #647
ref #544

[2015-05-28 20:49] tkellen commented on #578
Resolved in #676

[2015-05-28 20:49] #578 closed

[2015-05-28 22:49] ethanresnick commented on #647
@tkellen If our spec were the only thing in the world, I'd be in favor of using `(` and `)`, or similar, instead of `[` and `]` to avoid this percent encoding trouble, but the `[]` syntax has become so common for expressing nested query parameters that I can't imagine we'd move away from it. So we just have to mention in our examples somewhere that the characters should be percent encoded (maybe e

[2015-05-28 22:50] tkellen commented on #647
Precisely my thinking as well @ethanresnick. Would you mind working up a PR?

[2015-05-28 22:51] ethanresnick commented on #647
@tkellen Sure!

[2015-05-29 03:20] tkellen commented on #659
boom.

[2015-05-29 03:20] #659 closed

[2015-05-29 03:21] dgeb commented on #659
:tada:

[2015-05-29 03:21] tkellen opened #725 "create clarification around the semantics of fields vs include"
Add explanation of how fields limits by TYPE whereas include operates on relations and a given relation might return records of multiple types.

[2015-05-29 06:05] lapastillaroja opened #728 "Question: Android JSON API implementation"
I'm planning to adopt the json-api specification for my new service. There are multiple implementations for ruby, javascript, etc. However I can't find any suited for Android.
It seems that [katharsis](https://github.com/katharsis-project/katharsis-core)  is the only Java implementation but it doesn't seem very Android friendly.

I googled but found nothing so I would like to know if there is any

[2015-05-29 11:26] neomerx commented on #686
Moreover on [implementations list](http://jsonapi.org/implementations/) there are 'libraries' that do not even exist. They declare it would be nice to have an implementation.

[2015-05-29 14:03] #686 closed

[2015-05-29 17:09] hhware commented on #415
@dgeb, @tkellen, @steveklabnik, what would be your opinion on allowing relationship attributes via official extension? The extension will be purely additive, the use case is clear (the fact that #431 was a ["tough call"](https://github.com/json-api/json-api/pull/431#issuecomment-92938203) appears to confirm that), semantics of proposed change has a direct match in the semantics of RDBMSes, the new

[2015-05-29 17:27] tkellen commented on #415
cc @bobholt if he has time to weigh in on his recent encounter writing an API specification for a client of ours that will likely wind up being non-compliant with JSON-API due to the decision to not allow this.

[2015-05-29 19:44] tkellen commented on #415
@hhware We will likely be setting up a registry of some kind. It's my hope that being "official" won't mean much. I'd like to empower the community to freely create extensions that are easily discoverable, and to slowly roll the most popular additive ones into the base specification over time.

Long answer short, I am very interested in seeing a revision to this concept as long as it is additive t

[2015-05-29 20:42] hhware commented on #415
Thanks! I will write another PR :)

[2015-05-30 02:32] hhware opened #733 "Implementations, extensions, compliance to the spec"
I am creating this issue to have a place to discuss organizational aspects of spec extensions. Before 1.0, the priority was obviously given to the base spec, but now it seems to be a proper time to start creating the infrastructure for extensions. I am sure that these topics have been discussed by the spec editors privately, and I hope that the rest of us could get some visibility into what is bei

[2015-05-31 15:04] dgeb commented on #560
Closed via #727

[2015-05-31 15:04] #560 closed

[2015-06-01 22:14] scott-mcdonald opened #736 "Question: How to infer "to-one" vs "to-many" relationship if no "resource linkage" is present?"
Currently the majority of examples for relationships in the specification include the resource linkage elements which a client could then infer if the relationship is "to-one" or "to-many" by examining the value of the "data" property. If the "data" property is an "object" or is null then "to-one", else if is an "array" empty or not then "to-many".

But if the resource linkage is not included in t

[2015-06-01 22:41] irregular opened #737 "Include related resources for CREATE/UPDATE"
So, I have this API. To use it, you need to 'login' first. Such login is actually a POST to /tokens

Successful authentication returns a valid token along with an expiration date. It would be nice if
I could optionally include the token owner along the response.
The question is:
Including related resources for create/update request is something that JSON API should allow/prohibit explicitly? If so

[2015-06-01 23:22] tkellen commented on #737
JSON API supports this behavior.

Here is a note from the bottom of the [inclusion of related resources](http://jsonapi.org/format/#fetching-includes) section:

I'm going to close this as a resolved, but please feel free to continue the discussion if need be!

[2015-06-01 23:22] #737 closed

[2015-06-01 23:25] tkellen commented on #564
@ziege Please feel free to open a focused PR if you feel this is still unclear.

[2015-06-01 23:25] #564 closed

[2015-06-02 06:57] lapastillaroja commented on #728
Thanks for your response. I agree that heavy use of reflection would be a big problem in Android. But considering that there are also swift/objective c libraries I don't understand why it would be almost impossible.

[2015-06-02 14:49] ksimka commented on #736
And how do you know if it's "to-one" or "to-many" when linkage is there? The same way — it's either object (to-one) or array (to-many).

[2015-06-02 15:26] scott-mcdonald commented on #736
@ksimka That wasn't the question, I already know if linkage is present if it is "to-one" or "to-many" based on an object versus an array like I stated in the original post, the question is if _data (resource linkage) is not present at all_ which is a possibility if the service doesn't want to include resource linkage at all and just provide links only as is possible based on the specification (unl

[2015-06-02 15:35] ksimka commented on #736
I just can't get why you need to know this. My point was that you can just get those resources and see what's there, object or array, and then make a desicion.

But if you really need this for some reason, I'm afraid in the current version of the spec there is no any flag that can help.

[2015-06-02 16:16] ethanresnick commented on #736
@scott-mcdonald I mentioned this briefly way, way [back](https://github.com/json-api/json-api/issues/276#issuecomment-61030060). I agree that this type of information is useful, and I suspect JSON API will add more, optional support for this kind of stuff over time; we've already seen other machine-readable documentation-related proposals with [schemas](https://github.com/json-api/json-api/issues/

[2015-06-02 16:24] scott-mcdonald commented on #736
@ksimka My point was I did not necessarily want to do a GET on the related resource(s) to determine the "types" of relationships and was thinking it should be part of the specification, something along the lines of:

[code]

The reason I was thinking about this area is I have sold "business" (the bean counters) that we should adopt _json-api_ as our standard for our Level 3 REST API and deprecate

[2015-06-02 16:30] tkellen commented on #736
I concur with @ethanresnick on needing to use `meta` for now. We may progress to supporting schema information like this in the future (via extensions or possibly even additions to the base spec). That being said, we'd like to give the community and implementors some time to get up to speed before adding more features. We marked 1.0 last Friday and have only just begun to discuss what kind of rele

[2015-06-02 16:44] ksimka commented on #736
@scott-mcdonald, no, our consumers are strongly typed too. But when API is about business and money I prefer a good documentation instead of machine-readable API. That's why it's hard for me to understand your needings :) We're using json-api as an amazing format for getting compound documents.

BTW, you'll have the same problem with many other things like pagination, filtering and sorting: now yo

[2015-06-02 16:58] scott-mcdonald commented on #736
@tkellen Understood about 1.0 and meta is fine for the interim but do feel it will add _completeness_ to an already great specification down the road. Please keep it on your radar.

I just want to add the splitting out of _relationships_ from the previous _links_ was a stroke of genius, it did feel _links_ was overloaded with "multiple purposes", now _relationships_ models semantic relationships b

[2015-06-03 14:42] benhartney opened #741 "What does this section mean exactly?"
https://github.com/json-api/json-api/blob/84ad5cdba292a90f3aa72a9fd57065607ba92263/format/index.md#attributes-

What exactly does `reserve the relationships and links members for future use` mean?

[2015-06-03 14:53] tkellen commented on #741
It means this:

[code]

[2015-06-03 18:13] #741 closed

[2015-06-04 12:15] jayeff opened #744 "Add CSS print style sheet for improved print reading experience"
Hi,
currently there is no optimization for the website when a page is printed. With CSS it's quite simple to improve printed output. I would be willing to write a CSS style sheet but before I start working on this I wanted to ask a) if such a pull request is welcome and b) if you have any thoughts on this topic?

[2015-06-04 18:56] hhware opened #745 "Links: a relation for actions"
I suggest to register with IANA a relation to identify actions, as AFAIK there is no existing relation for this yet. The motivation is that an API client should have a way to extract all actions from the list of links for a given resource, whether they are standardized or custom.

Suggestion for relation name: `action`.

Ref: (8) of #684

[2015-06-04 18:57] hhware opened #746 "Links: home endpoint for browsing an API"
I suggest to register with IANA a relation to communicate starting point for browsing a HATEOAS-compliant API in a top-level link.

Suggestion for relation name: `home`.

[An alternative suggestion](https://github.com/json-api/json-api/issues/684#issuecomment-105896245) is to use existing relaiton `contents`.

Ref: (10) in #684

[2015-06-04 18:58] hhware opened #747 "Links: a relation for links handling content hierarchies"
I suggest to register with IANA a relation to classify links for handling hierarchical content. An existing relation from this category is `up`, see RFC5988, but implementations which are handling hierarchical content may want to add their custom entries to it.

Suggestion for relation name: `hierarchy`.

Ref: (11) in #684

[2015-06-04 18:58] hhware opened #748 "Links: a relation for links handling pagination"
I suggest to register with IANA a relation to classify links related to pagination. JSON API already provides 4 links from this category, implementations may want to add their custom entries to it.

Suggestion for relation name: `pagination`.

Ref: (11) in #684

[2015-06-04 18:58] hhware opened #749 "Links: a relation for links handling content versioning"
I suggest to register with IANA a relation to classify links related to versioning of content.
RFC5988 provides entries `version-history,working-copy,successor-version,predecessor-version,latest-version,latest-published-version` for this category.

Suggestion for relation name: `versioning`.

Ref: (11) in #684

[2015-06-04 18:59] hhware commented on #684
@ethanresnick, editing comments is good for discoverability: no notifications, I have only noticed it by accident ;-)

Anyway, I agree, perhaps it could help launching the actual discussion. Created separate issues and linked to them here.

[2015-06-04 19:14] ethanresnick commented on #684
@hhware Whoops, sorry about that. I'll look at your new issues now.

[2015-06-05 15:18] bryanburgers opened #752 "What does the related link of a resource fetch?"
Using the example in the [Document Structure > Compound Documents section](http://jsonapi.org/format/#document-compound-documents), what should fetching `/articles/1/author` return?

The [Fetching Data > Fetching Resources section](http://jsonapi.org/format/#fetching-resources) states:

Is that:

1. A document that is effectively identical to fetching `/people/9` except with a different "self" lin

[2015-06-05 15:31] dgeb commented on #752
This question is answered in the description of [related resource links](http://jsonapi.org/format/#document-resource-object-related-resource-links).

In brief, it should fetch the _current_ related resource object as primary data. For a has-one relationship, `null` must be returned if the relationship is empty.

The top-level `self` link in the response document must match the request URL (e.g. `

[2015-06-05 15:50] bryanburgers commented on #752
@dgeb As an example, that would look something like this?

[code]

Which would be unique from `/people/9`, which would be:

[code]

[2015-06-05 16:20] dgeb commented on #752
@bryanburgers yes, both those examples look good.

As for the inline comments:
- There's nothing normative disallowing different representations of resources at different endpoints, so a summary at the related resource URL seems ok. However, I'd recommend against it to allow for more standard processing and let your clients request their own "summary views" via sparse fieldsets.
- If you're includ

[2015-06-05 16:21] bryanburgers commented on #752
@dgeb Thanks for your help!

[2015-06-05 16:21] #752 closed

[2015-06-05 18:17] dgeb commented on #752
Glad I could help, @bryanburgers!

[2015-06-05 19:30] tkellen commented on #744
:+1: Please do!

[2015-06-05 20:19] senid231 opened #753 "question: about object creation with related objects"
I read [#480](https://github.com/json-api/json-api/pull/480) and [#482](https://github.com/json-api/json-api/issues/482) but still have some questions.

According to this
[format/index.md#creating-updating-and-deleting-resources](https://github.com/json-api/json-api/blob/gh-pages/format/index.md#creating-updating-and-deleting-resources-)
we can create main object and his related objects using requ

[2015-06-05 22:00] neomerx opened #754 "Complex data structures"
Is it allowed by the spec to have IDs of other resources in complex attributes? For instance
[code]

Where ```eng``` is actually an ID/code of a ```language``` resource. If not how can I minify/simplify the same record below?
[code]

[2015-06-06 11:10] ksimka commented on #754
Looks like a synthetic example. Are you trying to implement a l10n that way? If so — simply response with a requested language.

[code]

If you for some reason need a language's name, I don't think that `relationships` is a good place for it, cause it's not a natural relationship. Maybe use `meta`.

But I recommend to use locale param since we have, say, not only UK english, but also US english an

[2015-06-06 13:05] neomerx commented on #754
@ksimka I think `locale` would be outside of the spec and this approach doesn't work if I want to `GET` more than one property set (e.g. eng, spa, etc). Meta could be an answer however it's basically the same as storing language code as field so why using it instead?

[2015-06-06 13:25] ksimka commented on #754
Can you please tell what kind of problem are you trying to solve? Cause needing to get a string with multiple translations at a time confuses me.

[2015-06-06 15:17] kenbrubaker opened #755 "NON-HTTP Transports?"
The documentation and specifications are all centered around HTTP. Has there been consideration of how JSON API would work within, say, WebSockets, or private protocol? For example, the format of URLs don't seem to be specified. Example, can they be relative, or do they have to be absolute? If relative, can they be protocol relative?

[2015-06-06 16:32] neomerx commented on #754
Just look at this example not from read-only point of view but from edit (`GET` + `PATCH`).

[2015-06-07 02:47] ethanresnick commented on #754
@neomerx The first code sample you gave would be valid (i.e. it's perfectly allowed), but generic JSON API clients wouldn't be able to know that the `"language"` key is an id. Unfortunately, there's no built-in mechanism for defining a relationship from a complex attribute—though that's been [actively discussed](https://github.com/json-api/json-api/issues/383) and may be added in the future.

Ther

[2015-06-07 03:08] neomerx commented on #754
@ethanresnick Thanks a lot!

[2015-06-07 03:08] #754 closed

[2015-06-07 18:43] jayeff commented on #744
I opened a PR #757 - still needs some work and testing but probably is a good first step.

[2015-06-08 05:41] Fivell commented on #753
+1 related #205

[2015-06-08 06:33] Fivell commented on #205
what is status of this issue ?

[2015-06-08 08:05] senid231 commented on #536
what the status of this extension?

[2015-06-08 08:15] senid231 commented on #753
#205 has pretty nice solution of related objects creation but @dgeb dislike it (with understandable explanation).
There is #536 where @dgeb propose to create extension for embedding resource creation, but i think that @ethanresnick propose better solution.
My opinion: it should be included into basic JSON-API with word **MAY**

Any updates related to this feature?

[2015-06-08 10:28] neoneo commented on #753
Just posted a question about this on Stackoverflow before I found this and other discussions here. http://stackoverflow.com/questions/30704498/jsonapi-how-to-create-compound-documents

So it's officially not supported.
It has become clear to me now that in the general case, it's indeed pretty hard to solve this. Which is what the spec tries to do. It has no domain knowledge. But the API developer

[2015-06-08 13:55] outerim commented on #536
I'd love to hear more from @dgeb and others on this as well. The solution proposed by @ethanresnick in this [comment](https://github.com/json-api/json-api/issues/536#issuecomment-96635505) seems good to me. I don't currently need the functionality provided by moving embedded resources out of linkage and instead referencing them from there but the burden on the server of supporting this format does

[2015-06-08 14:36] mrcasals opened #758 "Do I need to `include` everything on a relationships data attribute?"
Take the example JSON response from the frontpage of JSONAPI.org: https://gist.github.com/mrcasals/7353c916f256279ea391

From the post, I can know who is the author and what comments it has. From the `relationships` object I know it has only *one* author, and *many* comments. But once I get to the author, I can't know how it relates back to the post: does it have *one* post, or does it have *many*

[2015-06-08 15:17] dgeb commented on #758
You can specify relationships within any resource objects, regardless of whether they are primary or included data. You can use `data` within a relationship object to show that an inverse relationship exists (say, between a person and posts or comments and a single post). If a partial set of to-many data is included, it should be paired with pagination links in the relationship's `links` object.

[2015-06-08 15:23] ethanresnick commented on #758
@mrcasals Right, like @dgeb said, having relationships in `included` resources is completely allowed. So I think you haven't seen any just because our examples are bad :) My reading of the homepage example is just that, the author doesn't have a relationship to _any_ posts. That is, it looks like the posts point to authors, but not vice-versa. And, that's fine; not every relationship needs to be m

[2015-06-08 18:03] mcmire commented on #536
I would also like to hear an update on this. This seems like a major feature post-1.0 to me. I'm currently looking to add something like this to my current project. But at this point, we have so many proposals and considerations going on that I'm rather lost as to what's the best approach here and why.

[2015-06-08 18:08] mcmire commented on #536
For instance, @dgeb keeps mentioning that in order to do this using the side-posting strategy, the request must be made with client-generated IDs. Can someone tell me what the issue here is and why this is necessary?

[2015-06-09 11:35] dgeb commented on #755
Any valid URLs are compatible with JSON API - the base spec has no normative rules about them. However, there are some non-normative [recommendations](http://jsonapi.org/recommendations/#urls) for designing URLs across an API.

The media type, described in the [Document Structure section](http://jsonapi.org/format/#document-structure), can be used to format JSON sent with other protocols besides H

[2015-06-09 16:54] tkellen commented on #295
http://discuss.jsonapi.org/

configuration/update/announcements etc forthcoming.

[2015-06-09 16:54] #295 closed

[2015-06-09 16:56] tkellen commented on #684
Hey @hhware! Sorry for the silence on our end. I just wanted to let you know that we're interested in exploring this stuff, but both @dgeb are taking a bit of a breather and letting implementations catch up. We've scheduled weekly meetings to discuss JSON API issues and the first thing on the agenda will likely be figuring out a release schedule for new versions and the extensions registry stuff.

[2015-06-09 17:25] steveklabnik commented on #295
:confetti_ball:

[2015-06-09 19:35] clavecoder commented on #755
Thanks!

[2015-06-09 19:35] #755 closed

[2015-06-10 09:48] PhilippMi opened #759 "Empty sparse fieldsets"
I have a resource (e.g. posts) which has a to-many relationship to other resources (e.g. comments). I do not need any fields of the related resource but their self-links (to fetch them asynchronously on demand). The response should look something like this:
[code]
My question is how should the URL for the request look like?

My idea would be to include the comments and then use an empty sparse fie

[2015-06-10 14:27] mrcasals commented on #758
Awesome, thanks for your replies. I'll work on this.

[2015-06-10 14:27] #758 closed

[2015-06-10 15:30] bobholt opened #762 "Content-Negotiation Clarifications"
The content negotiation section could benefit from examples, and "in-layman's-terms" explanation. There's a lot of "with" and "without" around media type parameters that can be confusing if you have no idea what they are.

[2015-06-10 16:12] ethanresnick commented on #759
I think it would just be `http://example.com/posts/1?include=comments&fields[comments]=`, since that would make `fields[comments]` have an empty string as its value which, when comma-split, forms an empty list. It looks a little awkward, certainly, but I think that'd be the way to do it.

[2015-06-10 16:49] dgeb commented on #759
Yep - I agree with @ethanresnick. I suppose a non-normative note to this effect could be helpful.

[2015-06-10 17:02] ethanresnick commented on #759
P.S. @PhilippMi The long-term fix for this would probably be [optional links in resource identifier objects](https://github.com/json-api/json-api/issues/477#issuecomment-105958836), as has been discussed before. But one thing at a time :)

[2015-06-11 03:05] ethanresnick opened #764 "Possible Extension: Idempotent POST"
I have no clue how this would work yet, but I just want to throw out the idea, as having this use case on the table could affect our extension system's design. Making an idempotent POST isn't a new concept, but it can be quite useful in practice for recovering from network issues (see, e.g., [stripe's use](https://stripe.com/docs/api/node#idempotent_requests)), and I think it'd make a good extensi

[2015-06-11 14:09] steveklabnik commented on #764
What advantage does "idempotent POST" have over just using a PUT?

[2015-06-11 15:58] ethanresnick commented on #764
Basically, that the client doesn't know the URI to PUT to yet, because the resource (and its URI) that would result from the POST may not have been created yet. So, if a client want to add an "article" resource, it can't PUT to the URI for that article before it exists. So these POE ideas route around that, offering a POST and redirect alternative to  PATCH + client-generated id.

[2015-06-11 16:02] bobholt opened #766 "Specification Ambiguous on Server Response to malformed client request"
The specification requires this (and other document structure requirements) of the client as well as the server, but does not indicate what the server should do in the case of the client sending a malformed request other than:

I understand not wanting to step on HTTP RFC status code toes, but the specification could be explicit in saying that JSON API servers should interpret this as an error. Wi

[2015-06-16 11:31] Art4 commented on #406
@ceykooo Your solution looks best to me. But than I noted this in the spec:

So I ended up with something like this:

`Accept: application/vnd.api+json, application/vnd.api+json; com.example.api.version=1.1`

[2015-06-16 12:50] benoittgt opened #771 "Few questions related to POST, top level members.."
Hello

First thanks for the spec. I saw Steve Klabnik talking about it few month and trying to turn my api to v2 with the json api specs, but I have few questions

* I want to be able to *add* or *update* comment related to an app. Api response to successful post or update (different status code) with that.

`POST `/api/v1/:store_id/applications/:mobile_application_update_id/comments` 201 if creat

[2015-06-17 06:38] ethanresnick commented on #771
POSTing the new comment to `/api/v1/:store_id/applications/:mobile_application_update_id/comments` is easy, as in your example. But including related comments-to-be-created with the new comment isn't supported yet. This has been much discussed though. See #536 for the latest.

The attributes bag in the spec so that top-level members that the base spec may add to resource objects in the future (tha

[2015-06-17 08:51] benoittgt commented on #771
Thanks, very interesting.

Because on my app, this is difference object. rating is an average of the rating of all the comment. :) It's probably not the right name.

Thanks Ethan

[2015-06-17 17:03] jgwhite opened #772 "Outline cropped on smaller viewports"
The fixed-position document outline is super useful but unfortunately gets cut off on smaller viewports.

![screen_shot_2015-06-17_at_17_58_52](https://cloud.githubusercontent.com/assets/34030/8213571/a8d8ca5c-151a-11e5-8c21-3e972818ac46.png)

Tried introducing `overflow: auto` when the sidebar is fixed but this has some unfortunate side effects such as double-scrolling and over-running the footer

[2015-06-17 17:06] wvteijlingen commented on #772
Ah yes, this has been pointed out before. The quickest solution that springs to mind right now is to create a breakpoint on viewport height, and forego the fixed position below a certain height. Otherwise we could fix it with scrolling overflow, but as you said, that creates some ugly scrolling.

I'm a bit busy now but I'll see if I can whip up a fix in the next couple of days.

[2015-06-18 17:15] johnpaul2 opened #773 "Add custom actions to resources"
We would like to add custom actions to our API. For example:
* A user login request, like /users/login
* Other actions like sending a message, /users/1/sendmessage?subject=helloworld

Does the specification handle these types of request?
How might the requests and responses be composed?

[2015-06-18 18:51] badosu opened #774 "Callbacks Extension/Support"
Hello, I am implementing jsonapi for my application and there's one part where I want to know if there's a convention/extension/set of ideas:

This application has a type which has many states, let's call it `articles` just for the sake of clarity. The starting point is when the client `POST /articles`  to create a new one (like specified on jsonapi).

Now, there will be a state machine in which t

[2015-06-18 19:13] ethanresnick commented on #774
Do you want the client to receive state changes on all articles, or only ones it specifically requests to listen to?

[2015-06-18 19:19] badosu commented on #774
@ethanresnick That's a good question. I have multiple clients in which the majority will not need this feature.

Maybe a solution for this would be to have an (optional) indication of the callback URL on the resource creation?

This would be per resource (article).

[2015-06-18 20:00] ethanresnick commented on #774
Ok, here's what I'd do:

Create a collection/resource type called `"listeners"` and have the client POST to that to register its callback. Something like:

[code]

By defining each listener as its own resource, the client can remove a listener with a standard DELETE request, edit it with a PATCH, etc. It's then your choice how to connect the listener to the resource it's about. (Here, I've created

[2015-06-18 20:04] badosu commented on #774
I like this idea, is there any restriction on why I can't just use the `relationships` field of the resource POST?

Also, although this is an elegant solution for when all resources share the same callback url, it fails if the client wants to receive a token or a specific url per resource.

[2015-06-18 20:10] ethanresnick commented on #774
You can, if the listener's already been created, but that initial creation is still another request. See #536.

Just create one listener resource for each callback url :)

[2015-06-18 20:16] badosu commented on #774
So, the problem is that it's very important for me that I can use just one request. It has been already difficult to establish the use of jsonapi with my client, and I don't know if I'll be able to push the need for another request.

In this case I could circumvent this issue by simply associating an attribute for each resource and receiving this attribute on the resource creation. It's not like I

[2015-06-18 20:19] gr0uch commented on #774
Why not use the `meta` key for this use case?

[2015-06-18 20:34] ethanresnick commented on #774
Yes, you could definitely put the contents of the proposed `listeners` resource as an attribute of the article instead (though this has some limitations around adding multiple listeners to the same article). You could also use `meta` as @daliwali suggests--that might be the best answer if multiple requests are out of the question.

[2015-06-18 20:54] badosu commented on #774
Hmm. I'll consider using `meta`, it pretty much solves my problem. And I'll have just one listener.

I'll still ponder whether I'll use this as a resource attribute or as a `meta` object, since I'll probably have to write this attribute to the model anyway.

Thanks for the help!

Also, regarding the callback requests themselves, I guess they'll be pretty much like jsonapi but in the reverse?

E.G.

[2015-06-19 14:50] danielspaniel opened #775 "question: using factories to create jsonapi style json"
I have a project that is used to create json from factories for making testing ember-data/ember applications easier  .. ( ember-data-factory-guy )  but I have been thinking that it could expand to be used for orbit/ember apps or other jsonapi compliant front end applications.
 Do you think that would be useful? Would it be used? Is there something else out there doing the same thing that orbit/jso

[2015-06-19 15:28] barelyknown opened #776 ".NET client implementation?"
Is anyone aware of a 1.0 compliant .NET client? I'd like to point a .NET developer that's using my 1.0 compliant server towards a client library that would make their life easier, but I haven't found one.

[2015-06-19 22:17] beauby opened #778 "meta attributes in POST request?"
Hi, I'm pretty new to JSONAPI, but taking a great interest: I think it's about time some standard emerges.

Consider the following: I have a /sessions resource, and I want to allow a session to be created by a user POSTing to /session with his credentials. Where should those credentials go, since they're not part of the resource? I haven't seen a mention of the use of `meta` in the case of creatin

[2015-06-19 23:20] ethanresnick commented on #778
Putting the credentials in `meta` is one option; there's nothing in the spec that prevents that. Another option would be to use the [Authorization](https://tools.ietf.org/html/rfc7235#section-4.2) header, with the [Basic scheme](http://tools.ietf.org/html/draft-ietf-httpauth-basicauth-update-07) if the credentials are username/email and password (and a [different scheme](http://www.iana.org/assign

[2015-06-22 02:10] tkawa commented on #773
I have the same question.
How can I express this form as JSON API?

[code]

[2015-06-22 04:26] hhware commented on #773
@johnpaul2, @tkawa, the position of the current version of the spec on this is wide open, see the following questions in [the FAQ](http://jsonapi.org/faq/):
- [How to discover resource possible actions?](http://jsonapi.org/faq/#how-to-discover-resource-possible-actions)
- [Does JSON API take any position on URI structure, on rules for custom endpoints, which do not fit the paradigm of GET/POST/PAT

[2015-06-22 05:12] tkawa commented on #773
Thank you @hhware.

A server can respond with `Allow: GET, HEAD, POST` header not only for OPTIONS but also any request. It makes sense.
Still, I'd like to express parameters required for 'custom actions'.
I'm going to read #684 with great interest.

[2015-06-22 05:28] hhware opened #780 "Organizational: expectations for future releases"
Inspired by https://github.com/json-api/json-api/issues/684#issuecomment-110431886: it would be great to have a bit more visibility into the plans/expectations/schedule/whatever for future releases of JSON API. It is a very practical question for those of us who are involved in development of commercial applications using JSON API and therefore might need to coordinate development schedules of tho

[2015-06-22 07:02] PhilippMi commented on #759
@ethanresnick I thought about such a solution too and would really appreciate it.

Anyway, thanks for your help.

[2015-06-22 07:02] #759 closed

[2015-06-22 07:32] beauby commented on #780
+1

[2015-06-22 07:33] ethanresnick commented on #745
Hey @hhware! Thanks for opening this. I'm sorry I'm just responding to it now. I've been working on other projects post 1.0, so I haven't been able to give much time to these conversations, but I do want to discuss this.

First, I _really_ like the goal that you're trying to achieve here, which I take to be making all the non-standard actions that a resource supports discoverable. However, I'm not

[2015-06-22 07:34] beauby commented on #778
Using Authorization header does indeed make sense here. Thanks for the answer.

[2015-06-22 07:34] #778 closed

[2015-06-22 07:42] ethanresnick commented on #746
For reference, there's been [talk of](https://github.com/mnot/I-D/issues/41) defining a `home` relation within the JSON Home rfc, which is currently an (expired) draft. There's also the vaguely-related https://tools.ietf.org/html/draft-wilde-service-link-rel-00

[2015-06-22 08:57] ksimka commented on #745
You can hate me, but I repeat it again: I'm not against machine-readable documentation, it's cool, but I'm strongly against mixing API with its machine-readable docs. Please keep it separated. "Do one thing and do it well" — remember? There are other tools for API actions discovery and docs (like Swagger already mentioned earlier).

I'm watching how all around are trying to make a monster from a s

[2015-06-22 11:32] gr0uch commented on #745
@ksimka There are some machine-readable documentations that are useful at runtime, such as JSON Schema, which are of a completely different category than Swagger, RAML, API Blueprint, etc, which are more like _documentation as the engine of application state_.

Still I'm not sure what is the purpose of having such an affordance as "actions" that can't be modelled with standard HTTP methods.

[2015-06-22 14:31] benoittgt opened #781 "Long running jobs or asynchronous processing"
Hello

I was wondering if it's plan to write specs when doing [asynchronous processing](http://farazdagi.com/blog/2014/rest-long-running-jobs/).  Maybe it's completely irrelevant..

If not, will love to discuss about it :

* Posting return :

[code]

Does response need a body with more informations ? Seems enough for me.

* Get status

[code]

* If success

[code]

Thanks in advance.

PS: This pos

[2015-06-22 14:40] #771 closed

[2015-06-23 04:57] ethanresnick commented on #780
A very rough roadmap is [here](http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23). Basically, the plan for 1.1 is to introduce an extension system and a mechanism form creating multiple related resources at once. That'll hopefully be done by September 30. Then hypermedia stuff (e.g. entry point design, RFC 5988 links, custom actions) will be the goal for 1.2.

@tkellen @dgeb A

[2015-06-23 05:44] ethanresnick commented on #773
@tkawa What you're talking about is write templates, I think. See https://github.com/json-api/json-api/issues/619. Those won't be part of the spec for a while, though. In the mean time, the best way to get this functionality is to reformulate your request as a standard POST to a JSON API collection, so that your client can rely on the conventions JSON API gives to know how to structure its request

[2015-06-23 08:32] DenisIzmaylov opened #784 "How I can implement really big query to fetch a collection?"
Hi,
I would like to fetch a collection of big resources (over 50+ attributes). It's clean that I could not apply full filter (i.e 30 pairs of key-value) in query. How we can solve this issue?
1. Place the query to GET-request body?
2. Use POST method (which isn't correct according RESTful semantic)?

P.S. We can't to reduce and re-align attributes of this resource or change its structure.

[2015-06-23 08:38] ksimka commented on #784
Why? And what's wrong with simple GET request?

[2015-06-23 08:51] DenisIzmaylov commented on #784
30 pairs which look like:

[code]

If we place it at HTTP Query it will be hard to read, debug, etc.

[2015-06-23 08:56] ksimka commented on #784
Do you really need names that big? "I" in "API" stands for "interface", you can do it like you want. You doesn't have to use the same names as in your code, it's not RPC.

And BTW

[code]

Is it attributes (response) or query parameters (request)? (to be sure I got it right)

[2015-06-23 09:07] gr0uch commented on #784
Are all of the parameters arbitrary? You could probably implement some custom logic on the server that responds to the `filter` query since that is very underspecified.

[2015-06-23 09:37] DenisIzmaylov commented on #784
That's all is attributes. It's collection of resources which could look:

[code]

[2015-06-23 09:38] DenisIzmaylov commented on #784
So and imagine, we have to filter collection by one, or some, or all of those attributes. How we can implement it?

[2015-06-23 09:46] ksimka commented on #784
By "filtering" do you mean http://jsonapi.org/format/#fetching-filtering or maybe http://jsonapi.org/format/#fetching-sparse-fieldsets ?

If the first one, then

[code]

so do it as you see it. I.e., create a number of presets, one preset = bunch of attributes to filter.

If you mean "sparse fieldsets", and you want to minimize request weight, then you have to analyze, what's bigger: request with

[2015-06-23 11:08] DenisIzmaylov commented on #784
According [this discussion](http://dret.typepad.com/dretblog/2007/10/http-get-with-m.html) we can send JSON body in GET requests.
If we look at [Elasticsearch API](https://www.elastic.co/guide/en/elasticsearch/reference/1.3/search-request-body.html) we can found more reasons to do it.

[2015-06-23 16:31] steveklabnik commented on #781
Yup, that's more appropriate, so closing.

[2015-06-23 16:31] #781 closed

[2015-06-25 05:44] DenisIzmaylov commented on #784
Anybody here?

[2015-06-25 13:43] sglanzer opened #787 "Any recommendations for the format of a 207 response?"
We're dealing with some multistatus responses in a project using JSONAPI and Ember Data.  I don't see anything in the current guidelines or issues for this - can anyone comment on a recommended format?

[2015-06-25 14:41] ethanresnick commented on #787
Multi Status is often not a great idea, in part because 207 isn't part of the core HTTP Standard (instead, that status code comes from webDAV).

The "Other responses" sections of the JSON API spec say responses with other status codes must comply with HTTP semantics, where the phrase HTTP semantics links to RFC 7231. Since that RFC doesn't include 207, I think JSON API prohibits the use of it. (@d

[2015-06-25 18:53] tkellen commented on #784
JSON-API does not specify support for filtering from data in the request body. I concur with @ksimka's suggestions for how to deal with this problem. Additionally, it would be very easy to transform the data structure you're describing into a valid query string--I don't see where the conflict is here.

I'm going to give this a close for now--if you'd like to propose a new feature for JSON-API, ple

[2015-06-25 18:53] #784 closed

[2015-06-25 19:07] ethanresnick commented on #784
I agree with @tkellen. I'd just add that if you really can't use a query string, you could, as a JSON API compliant workaround, POST a query to a `/queries` resource and have it redirect (303) to a short URI representing just those results, and then you could `GET` that URI, with all the proper semantics/cacheability that GET affords. (You would have to do more work on the server, though, to keep

[2015-06-26 00:03] sglanzer-fire commented on #787
@ethanresnick Thanks for the response, I'll mull this over and continue the discussion in the forum if necessary.

[2015-06-26 00:03] #787 closed

[2015-06-26 11:14] DenisIzmaylov commented on #784
Nice advice @ethanresnick! I already think in this way. But your idea of redirect (303) looks really great! Thank you very much.

[2015-06-27 01:06] kevmoo opened #789 "Where's the test suite being assembled?"
`...but a test suite is now being assembled to vet them.` - http://jsonapi.org/implementations/

[2015-06-27 10:49] mkroeders opened #790 "Usecase of type on the primary resource?"
What is the use case for the `type` on the primary resource?

1. A simple check you hit the right endpoint;
ie. You create a resource on `/areas` while you submit the type `account` so you get a `409` wrong type.

2. An usefull tool to make "subtypes";
ie. You have the endpoint `/areas` you get multiple resources back, and the first one is a type country, and the second a type state.
No I already

[2015-06-27 10:57] bintoro commented on #790
The name of the endpoint doesn't necessarily match the type of the resources it exposes.

[2015-06-27 10:59] mkroeders commented on #790
Is the case I used in 2 a valid one, `/areas` which returns the type `country` & `state` for example. Or do you mean something else?

[2015-06-27 11:01] bintoro commented on #790
@mkroeders Yeah, exactly. Collections are allowed to be heterogeneous, i.e., composed of resources of various types.

[2015-06-27 17:58] hhware commented on #745
@ethanresnick, thanks for reviving this with a detailed analysis!

I totally agree that some non-standard actions can be reformatted in terms of more standard actions on different resources. `--version-drop-wip` was just an example, maybe not the best one, and definitely  application-specific (e.g., I did not suggest it for inclusion in #749). But I think that it would be wrong to force the API de

[2015-06-27 20:58] ethanresnick commented on #745
@hhware Thanks for your detailed reply, Alex! I understand your use case better now, and I think it will be possible to find a way to support it before we get full hypermedia support.

I also don't have much time over the next few weeks, so I won't be able to write up a detailed response for a while. But I won't forget this issue, nor will the rest of the team.

[2015-06-27 21:05] igorknatz opened #791 "Iron Force Tank"

[2015-06-27 21:07] #791 closed

[2015-06-29 10:26] tkellen commented on #789
https://github.com/endpoints/endpoints/pull/125

[2015-06-29 10:27] tkellen commented on #789
Please feel free to open issues over @ endpoints for this!

[2015-06-29 10:27] #789 closed

[2015-06-29 10:27] tkellen commented on #790
Closing this as resolved, thanks @bintoro!

[2015-06-29 10:27] #790 closed

[2015-06-29 10:28] tkellen commented on #780
@ethanresnick I'm game to have the major features for the next two planned versions on the home page. Would you be up for adding it?

[2015-06-29 10:28] #780 closed

[2015-06-29 10:30] tkellen commented on #775
I think this sounds great @danielspaniel! If you build something like this, please feel free to open a PR adding a link to our implementations page (under a new heading called "testing" or something similar).

[2015-06-29 10:30] #775 closed

[2015-06-29 10:33] tkellen opened #793 "Hypermedia Additions"
For consideration post `1.1`.

#304

[2015-06-29 10:33] tkellen commented on #304
Closing for inactivity. We won't begin looking at official support for this kind of thing until `1.2`, which is early next year

/ref #794

[2015-06-29 10:33] #304 closed

[2015-06-29 10:36] tkellen opened #794 "Possible Extensions"
For consideration post `1.1` (when we actually have an extension system):
#308

[2015-06-29 10:38] tkellen commented on #308
I appreciate the exploration here guys. This could definitely be considered for an extension in a post 1.1 world (when we have proper support for extensions). You can see our current roadmap here: http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23

Even though I am giving this a close now, please understand that we're closer than ever to considering stuff like this! I've made a

[2015-06-29 10:38] #308 closed

[2015-06-29 10:41] tkellen commented on #310
This could definitely be considered for an extension in a post 1.1 world (when we have proper support for extensions). Our current roadmap can be found here: http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23

I am giving this a close now, but I've made a note in a master issue (#794) to re-visit this when we're ready.

[2015-06-29 10:41] #310 closed

[2015-06-29 10:44] tkellen commented on #394
Yes, you can do this! If you'd like to see this as an example, please open a PR for our examples page.

[2015-06-29 10:44] #394 closed

[2015-06-29 10:47] tkellen opened #795 "Embedding / Sideposting"
This feature is milestoned for 1.1. @dgeb will be posting here soon with a set of use-cases that we are looking to support. From there, we will finally put this issue to bed.

Previous discussions:
#202

[2015-06-29 10:47] tkellen commented on #202
[This feature is milestoned for 1.1](http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23)

/ref #795

[2015-06-29 10:47] #202 closed

[2015-06-29 10:50] tkellen commented on #205
[This feature is milestoned for 1.1](http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23)

/ref #795

[2015-06-29 10:50] #205 closed

[2015-06-29 10:50] tkellen commented on #753
[This feature is milestoned for 1.1](http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23)

/ref #795

[2015-06-29 10:50] #753 closed

[2015-06-29 11:01] tkellen commented on #623
I apologize that we did not respond to this sooner. You're right that relationships can be managed in a more general way with JSON-PATCH. That said, it greatly lowers the barrier of entry for implementations and consumers to support them. Another way of putting it would be to say that it's possible to have a nice API without using JSON-PATCH, but very difficult to have one without support for rela

[2015-06-29 11:01] #623 closed

[2015-06-29 11:02] tkellen commented on #384
Please feel free to open a PR to add a non-normative note if you still feel this is necessary!

[2015-06-29 11:02] #384 closed

[2015-06-29 11:03] tkellen commented on #271
Closing in favor of the PR. I'm working on house-cleaning so we can focus on stuff like this!

[2015-06-29 11:03] #271 closed

[2015-06-29 11:04] tkellen commented on #334
@SphtKr Like @dgeb I am open to considering this as a non-normative recommendation. Please open a PR for this if you'd like to see this happen!

[2015-06-29 11:04] #334 closed

[2015-06-29 11:05] gr0uch commented on #789
There's [tests here as well](https://github.com/fortunejs/fortune/blob/master/test/integration/serializers/json_api.js).

[2015-06-29 11:07] tkellen commented on #537
Sorry for the slow reply @timabdulla! JSON-API does not take a stance on URL forms. You're welcome to use nested URLs if you like! In the future, questions like this would be better served over at http://discuss.jsonapi.org

[2015-06-29 11:07] #537 closed

[2015-06-29 11:07] tkellen commented on #572
Endpoints has an example app and it's linked on our example pages now.

[2015-06-29 11:07] #572 closed

[2015-06-29 11:09] tkellen commented on #510
I'd love to see this too. Please open a PR!

[2015-06-29 11:09] #510 closed

[2015-06-29 11:12] tkellen commented on #728
Hey guys! This would be a great conversation for http://discuss.jsonapi.org. For now, I'm going to give this a close.

[2015-06-29 11:12] #728 closed

[2015-06-29 11:12] tkellen commented on #772
Thanks for the heads up! I'm closing in favor of #785.

[2015-06-29 11:12] #772 closed

[2015-06-29 11:13] tkellen commented on #744
Thanks @jayeff! Will review soon.

[2015-06-29 11:13] #744 closed

[2015-06-29 11:13] tkellen commented on #664
I'd like to see this too @ziege. Would you please open a PR?

[2015-06-29 11:13] #664 closed

[2015-06-29 11:14] tkellen commented on #647
Resolved!

[2015-06-29 11:14] #647 closed

[2015-06-29 11:15] tkellen commented on #587
This seems like a great discussion for http://discuss.jsonapi.org. There is nothing actionable we can do about this here now, so I'm going to give this a close. Thanks guys!

[2015-06-29 11:15] #587 closed

[2015-06-29 11:17] tkellen commented on #615
I agree with @hhware's assessment of how to resolve this issue. If you're still having trouble, http://discuss.jsonapi.org would be a great place to talk this out!

[2015-06-29 11:17] #615 closed

[2015-06-29 11:19] tkellen commented on #415
Awesome!

[2015-06-29 11:19] #415 closed

[2015-06-29 11:19] tkellen commented on #536
Closing in favor of #795.

[2015-06-29 11:19] #536 closed

[2015-06-29 11:21] tkellen commented on #484
Closing as we are now 1.0.

[2015-06-29 11:21] #484 closed

[2015-06-29 11:22] tkellen commented on #544
Resolved in #756

[2015-06-29 11:22] #544 closed

[2015-06-29 11:23] tkellen commented on #509
Closing as resolved in #641. @jes5199 If you feel this warrants further discussion, please feel free to continue the discussion.

[2015-06-29 11:25] tkellen commented on #508
I believe this has been resolved in the latest revision of specification. I would be very open to a PR if it is deemed that further clarification is still needed.

[2015-06-29 11:25] #508 closed

[2015-06-29 11:29] tkellen commented on #389
JSON-API does not define the semantics of `filter`. There is nothing stopping an implementor from doing `filter[TYPE.field]` or similar. I'm closing for now, but I would love a PR adding this to the filtering section of the spec @ColtonProvias!

[2015-06-29 11:37] jayeff commented on #744
Thanks, I'm a little swamped with work ATM. Will do some tests with different browsers within the next few days.

[2015-06-29 11:39] tkellen commented on #543
@alexwen Could you please raise this question on http://discuss.jsonapi.org?

The members of a `links` object always refer to the container it resides in. Because JSON-API [allows direct manipulation of relationships](http://jsonapi.org/format/#crud-updating-relationships), the self link of a relationship is the "relationship url".

In the example you've provided, no matter who the author of the a

[2015-06-29 11:39] #543 closed

[2015-06-29 11:41] tkellen commented on #316
In the future, discussions like this would be _fantastic_ for http://discuss.jsonapi.org. For now, I'm giving this a close. JSON API has reached 1.0 and we cannot make backwards incompatible changes.

[2015-06-29 11:41] #316 closed

[2015-06-29 11:53] tkellen commented on #776
I have not :(. If you write one or hear of one, could you please open a PR to add it to our implementations section? You might also ask about this @ http://discuss.jsonapi.org/.

[2015-06-29 11:53] #776 closed

[2015-06-29 11:54] tkellen commented on #725
Anyone out there interested in tackling this?

[2015-06-29 13:17] #793 closed

[2015-06-29 13:21] tkellen commented on #794
These discussions should eventually be moved to http://discuss.jsonapi.org. Ideally our issue tracker is used to bikeshed things in the current roadmap, rather than becoming a dumping ground for problems we don't want to address for 6-12 months. Also, once we have an extension system, it is very likely that many of these proposed extensions will be developed outside the purview of the json-api tea

[2015-06-29 13:35] dgeb commented on #764
We'd like to move discussion of specific extensions over to http://discuss.jsonapi.org/

We're closing all extension proposals here, but tracking them over in #794 so none slip through the cracks. We'll be revisiting extension proposals after 1.1 once we land support, in accordance with [our roadmap](http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23).

[2015-06-29 13:35] #764 closed

[2015-06-29 14:32] ethanresnick commented on #780
@tkellen sure. Although now that we have the roadmap on the about page, putting it on the homepage too seems a bit redundant. I'll submit a PR to add a bit more to it on the about page though

[2015-06-29 14:50] kevmoo commented on #789
@tkellen @0x8890 Will https://github.com/endpoints/endpoints be the **canonical** local for tests?

That should be documented as part of `json-api`. Having a model for interop testing is as important – arguably more important – than the spec.

[2015-06-29 14:59] tkellen commented on #789
We're currently developing the integration suite against endpoints using https://github.com/json-api/json-api/blob/gh-pages/normative-statements.json. Once this is complete, we'll move it out to json-api and figure out how we can generalize it far enough to be pointed at any API. One hitch is that implementors will need to use http://github.com/endpoints/fantasy-database for their API. We don't su

[2015-06-29 15:10] kevmoo commented on #789
@tkellen Great news.

I don't mind having to run tests with nodejs against my own impl.

[2015-06-29 15:11] kevmoo commented on #789
@tkellen Could we make this bug – or another – a tracking issue for tests? Call it an "enhancement request".

[2015-06-29 15:14] gr0uch commented on #789
It would not be too difficult to generalize testing, the implementation would just need to be aware of what types will be used for testing.

This is how I implemented tests:
1. Create all resources by posting to the API.
2. Run test.
3. Delete all resources by making delete requests. Repeat.

Note: not all tests need to run/pass, depending on the implementation.

[2015-06-29 17:21] ethanresnick commented on #794
Adding a reference here to #587, so it stays on the radar too. Making JSON-LD possible should be a first-class use case of the final extension system imo.

[2015-06-29 17:22] ethanresnick commented on #587
Noting for #794.

[2015-07-01 10:00] janko-m opened #799 "Allow "type" and "id" attributes"
The [Fields](https://github.com/json-api/json-api/blob/625c32dd60634a818d5a7e257a8799478a4d29b8/format/index.md#fields-) subsection says the following:

other and with `type` and `id`. In other words, a resource can not have an
attribute and relationship with the same name, **nor can it have an attribute
or relationship named `type` or `id`**.

The last part for me feels contradictory to the reaso

[2015-07-01 17:57] dgeb commented on #799
Because fields share a common namespace with each other and with `type` and `id`, there can't be any overlap. Reusing `type` or `id` within attributes would cause confusion in situations where fields are referenced outside of their structure. For instance, the following request to sort by `type` would be ambiguous:

[code]

This is the same reason that attributes and relationships can't share name

[2015-07-01 19:57] ksimka commented on #799
@janko-m, I agree about 'type', but why 'id'? If you have 'id' in attributes, then you must just extract it to the root-level 'id'. It's weird to have 'id' here and there with the different meanings.

@dgeb, I think your example with 'sort' and 'type' is not good enough as of

And besides, isn't it strange to sort by 'class name' or 'model name'?

Anyway, I think 'type' could be used as attribute.

[2015-07-01 21:29] dgeb commented on #799
Now that the spec is at 1.0 and not changing, this will have to remain a difference of opinion.

It seems reasonable to me to want to sort a heterogeneous collection by `type`.

This would not be compliant.

[2015-07-01 21:29] #799 closed

[2015-07-01 23:11] janko commented on #799
@ksimka Yeah, I also don't really think "id" should be treated the same, I just included it for consistency.

@dgeb Thank you for the answer. Yeah, it makes sense to sort by "type". I also don't have to strictly follow JSON API in my application, if diverging would have benefits, which in my case does.

[2015-07-02 06:58] gr0uch commented on #799
I'm curious if people take JSON API as a starting point for an ad-hoc implementation, as most of its value is in strictly following the spec. If implementations differ greatly then the spec is not that useful.

[2015-07-02 10:22] janko commented on #799
@0x8890 I completely agree with you, I would only diverge a bit; @dgeb said that `GET /things?sort=type` would be ambiguous, so in my application I can just remove the ambiguity by stating that in this case `type` will be a database column, and not the type of the resource. Also, I don't support sorting in my app (in the spec the feature of sorting is a **MAY**, so it's good), and I don't see wher

[2015-07-02 10:27] ksimka commented on #799
@janko-m, not only your special case ;)

[2015-07-02 10:49] janko commented on #799
@ksimka @0x8890 I actually realized now that in my tests it becomes a problem when I have a `type` attribute (I'm writing some testing helpers for more easily asserting JSON responses, and it's a problem when I want to flatten out JSON objects), I really see now why it's better to not have that field, so I will switch to `kind` or `category` after all.

[2015-07-04 17:58] szachara opened #802 "relationships object in included array"
Hi,

I want to ask simple question. Can `resource object` which is inside `included` array contain `relationships` object?

Something like this:
[code]

It's valid?

Thank you for advice.

[2015-07-04 18:11] dgeb commented on #802
Yes that's valid.

[2015-07-04 18:11] #802 closed

[2015-07-06 14:14] krzkrzkrz opened #803 "When is data required in relationships?"
At the doc at http://jsonapi.org/format

Sometimes, you will see `data` in the `relationships` and sometimes not. Is `data` required? If so, all the time or situational?

Take for example:

[code]

And:

[code]

[2015-07-06 14:17] jamesplease commented on #803
@krzkrzkrz based on [this part of the spec](http://jsonapi.org/format/#document-resource-object-relationships) it seems optional.

(slightly paraphrased). So if I'm interpreting it correctly then only one of them is necessary.

[2015-07-06 14:18] krzkrzkrz commented on #803
@jmeas what would `data` be used for in the `relationship` context?

[2015-07-06 14:19] jamesplease commented on #803
I didn't know, so I followed the link under `data` in the link I sent above, and [it sent me here](http://jsonapi.org/format/#document-resource-object-linkage). Have you read that section?

[2015-07-06 14:21] tkellen commented on #803
Data is not required. For to-one relationships like the author of an article, you'd see it always, but for to-many relations like comments, you would not see it unless you explicitly included them. (e.g. `GET /article/1?include=comments`). In this case, you can "dereference" the data in the comments relationship by matching it up with entries under the top level `included`.

[2015-07-06 14:22] tkellen commented on #803
Our issue tracker is for website changes, discussing internal inconsistencies with the specification, or discussing features on our roadmap. In the future, could you please open issues like this on http://discuss.jsonapi.org/?

I'm going to give this a close but I'd be happy to discuss this further here if needed.

[2015-07-06 14:22] #803 closed

[2015-07-06 20:01] bdevel opened #804 "Name of reverse relationship cannot be determined."
When creating a `to-many` relationship, the spec outlines that you only need to define the `belongs-to` side of a relationship when doing a POST for a collection item. IE, when create a new blog post, you name the `author` relationship and link it to a post via the `data` or `links` field. The issue arises when fetching the `author` and you need to generate a list of blog posts that the author has

[2015-07-06 21:55] gr0uch commented on #804
AFAIK Ember Data already has this feature (`inverse` key), but it seems out of scope of this spec.

[2015-07-06 23:20] bdevel commented on #804
Ember's serializer do not implement the `inverse` attribute on the relationships hash POSTed to the server. On the models, the `inverse` attribute can be used to rename the relationship from `person` to `author` for a belongs-to relationship, but the parent object still cannot know what to call it's related collection.

In any case, that's a specific implementation. The issue is the specification

[2015-07-06 23:24] gr0uch commented on #804
@bdevel it's here: http://guides.emberjs.com/v1.12.0/models/defining-models/#toc_reflexive-relation

[2015-07-07 02:23] tkellen commented on #804
@bdevel Until JSON-API supports this, you can serialize this implementation specific data under the `meta` key.

[2015-07-07 02:24] tkellen commented on #804
e.g

[code]

[2015-07-07 02:27] tkellen commented on #804
I'm going to milestone this for `1.1`. I agree that the base specification should provide normative guidance here.

[2015-07-07 02:34] tkellen commented on #575
Per our [contribution guide](https://github.com/json-api/json-api/blob/gh-pages/CONTRIBUTING.md), I am closing this discussion here because it is not on [our roadmap for 1.1](http://jsonapi.org/about/#roadmap).

I encourage you to continue this dialog @ http://discuss.jsonapi.org.

We appreciate the suggestions greatly, but the core team only has so much bandwidth to deal with new feature requests

[2015-07-07 02:34] #575 closed

[2015-07-07 02:35] tkellen commented on #600
I agree that the base specification should provide guidance here. I am milestoning this for consideration in 1.1.

[2015-07-07 02:37] tkellen commented on #383
Per our [contribution guide](https://github.com/json-api/json-api/blob/gh-pages/CONTRIBUTING.md), I am closing this discussion here because it is not on [our roadmap for 1.1](http://jsonapi.org/about/#roadmap).

I encourage you to continue this dialog @ http://discuss.jsonapi.org.

We appreciate the suggestions greatly, but the core team only has so much bandwidth to deal with new feature requests

[2015-07-07 02:37] #383 closed

[2015-07-07 02:39] tkellen commented on #216
This is now covered under the [attributes](http://jsonapi.org/format/#document-resource-object-attributes) section of the specification. If this is not sufficient clarification, please create a thread @ http://discuss.jsonapi.org

[2015-07-07 02:39] #216 closed

[2015-07-07 02:42] tkellen commented on #176
This was resolved in #237.

[2015-07-07 02:42] #176 closed

[2015-07-07 02:44] tkellen commented on #571
Closing this as a resolved, but we'd love a PR with a formal recommendation @SFEley / @jcarlson!

[2015-07-07 02:44] #571 closed

[2015-07-07 02:47] tkellen commented on #620
If @dgeb, @ethanresnick or @steveklabnik feel this is needed, I'd be happy to field a PR with a recommendation for this. Can ya'll chime in here please?

[2015-07-07 02:52] tkellen commented on #13
Huge :+1: to this, but I don't think this is the correct place to track progress on this. @timbunce If you want to build something based on http://github.com/endpoints/endpoints-example, it would be great to see it added to the implementations page.

[2015-07-07 02:52] #13 closed

[2015-07-07 02:53] tkellen commented on #13
PS: if you do, please ping me and i'll get a read-only version of the example hosted on endpointsjs.com.

[2015-07-07 02:54] steveklabnik commented on #620
I will be doing a JSONAPI based API that does this, so I'm certainly interested in a sense. Hrm.

[2015-07-07 02:54] steveklabnik commented on #620
/cc @ashleygwilliams

[2015-07-07 05:13] ethanresnick commented on #620
I'm not opposed per se to having a rec about this.  I'm a little worried that it'll take a disproportionate amount of time to get the rec right for the value it offers...but the nice thing about a recommendation is that we can always change it as we learn more. So if we can aggregate even a bit of data on what's worked well for people thus far, I don't think there's much harm in publishing that as

[2015-07-07 12:34] tkellen commented on #620
FWIW, I am not being opinionated about this with endpoints--implementors can do whatever they want with a filter param, e.g:
https://github.com/endpoints/endpoints-example/blob/master/src/modules/books/model.js#L39-L44

I think this is the tip of a very large iceberg. If we have a recommended convention for partial string matching does it match from the head of the string? The tail? Any substring?

[2015-07-07 15:17] #620 closed

[2015-07-10 17:10] ksimka opened #806 "Building an object from a heterogeneous collection"
So "data" can be a heterogeneous collection. Our clientside guys ask us for an ability to map that collection to definite fields by type.

Example

[code]

We need to convert it to

[code]

and later to

[code]

It's needed in order to use straight mapping to templates: we have to know how to address to a collection of "a" type and of "b" type.

So we decided to use "meta"

[code]

Are we doing so

[2015-07-10 17:30] tkellen commented on #806
This question should be asked on http://discuss.jsonapi.org/.

Could you do something along these lines before sending it to the template?

[code]

[2015-07-11 07:17] ksimka commented on #806
Sorry, moving to http://discuss.jsonapi.org/t/building-an-object-from-a-heterogeneous-collection/47 .

[2015-07-11 07:17] #806 closed

[2015-07-15 19:31] IsaiahJTurner opened #810 "ID Alias"
What is the best way to handle multiple IDs that reference the same object? For example, usernames may be case insensitive and ignore dots and dashes but that user should also be queryable by their ID. For example, Twitter allows case-insensive queries for a user ID or a username. How could I accomplish this with JSON API?

[2015-07-15 19:59] jamesplease commented on #810
Maybe [the `filter` query param](http://jsonapi.org/format/#fetching-filtering) could be used as the foundation for adding somethin' like this to your API?

[2015-07-15 20:10] steveklabnik commented on #810
Would you mind posting this on http://discuss.jsonapi.org/ please? it's better for these kinds of 'how do I use' questions. Thank you!

[2015-07-15 20:10] #810 closed

[2015-07-16 03:13] fearzendron opened #811 "JsonSchema doubts!!"
Hello guys, just for curiosity, what are the differences between this json-api pattern and JsonSchema? I'm asking this because I'm using a backend dolution called Anypoint that validates all models with JsonSchema and for the front-end I'm using Ember that follows the Json-api.

thanks!

[2015-07-16 05:18] steveklabnik commented on #811
Discussion questions are best asked over at http://discuss.jsonapi.org/, please post this there, thank you!

[2015-07-16 05:18] #811 closed

[2015-07-18 20:51] henrymazza commented on #334
The params parsers today for a url like `/api/v2/sales?filter[date]=` generates a params hash like `{“filter”=>{“date”=>”"}}`. But if we lose the equal sign ( `/api/v2/sales?filter[date]`) it generates a hash like `{“filter”=>{“date”=>nil}}`, which the filter ignores (`SELECT "sales".* FROM “sales” WHERE 1=0 …`).

Perhaps this behavior can be derived from here. Or it’s a bad idea. Anyway, who you

[2015-07-24 12:43] tkellen commented on #600
@dgeb and I just discussed this and we are :+1: to add this to 1.1 alpha pending thoughts from @ethanresnick and @steveklabnik.

[2015-07-24 15:55] steveklabnik commented on #600
I have tons of thoughts, but not the time to type them out right now. I think this adds _waaaay_ more complexity for little real gain, you should really version your entire API, not individual endpoints.

[2015-07-24 15:56] tkellen commented on #600
We're not talking about versioning endpoints, we're talking about versioning resource objects. Think etags.

[2015-07-24 16:09] steveklabnik commented on #600
Sorry, I think the "real REST" vs "not real REST" terminology is messing me up here.

I am incredibly skeptical, but I may just be an old man here...

[2015-07-24 16:18] tkellen commented on #600
No worries! I don't think you're being an old man... you being skeptical makes me skeptical too. Let's chat about this on IRC and see if we can figure out what the disconnect is.

[2015-07-24 16:29] scott-mcdonald commented on #600
FYI, it is not a "schema" version but an "instance" or "object" version of the resource itself. I currently use version in Attributes of resources and use it for optimistic locking purposes in terms of "updating" the resource and caching purposes.

[2015-07-24 17:10] cziegenberg commented on #600
I'm currently working on an ORM implementing a versioning behavior and would love to use versioning in the JSON API representation of the resources.

Optimistic locking ist the main reason for the version, but I also implemented a history for the changes between versions, and I plan to implement the ability to switch to a given previous version. Another interesting function is the automatic mergin

[2015-07-24 18:38] tkellen commented on #600
`<bikeshed>`
I think we should call it a `fingerprint`, not `version`. We already use the `version` member in the specification and I don't want to have to differentiate between them.
`</bikeshed>`

[2015-07-24 18:38] steveklabnik commented on #600
After chatting with @tkellen , I think the 'version' name is a red herring that scared me off. I'm generally in favor of adding something like this, I just think the name is too overloaded.

[2015-07-24 19:37] dgeb commented on #600
Clearly overloading of `version` can get confusing. `fingerprint` is probably better, but to my ear it sounds like a checksum (maybe that's only me though).

@ziege do you have any requirements that would not be met by a string value?

[2015-07-24 20:01] tkellen commented on #600
I think of a checksum as being a specific form of fingerprint, used for tamper-proofing. I don't much care what we call it though, as long as it isn't `version`.

[2015-07-24 20:04] dgeb commented on #600
Maybe `revision`?

[2015-07-24 20:06] tkellen commented on #600
perfect.

[2015-07-24 21:25] scott-mcdonald commented on #600
`revision` +1

[2015-07-25 00:21] ethanresnick commented on #600
For single-resource requests, my feeling is that this would just be duplicating Etags in a non-standard way, with little benefit over using Etags directly. Right now, I can do a `GET /people/1`, and the Etag I get back is conceptually identical to what the `revision` key would hold. Then, if I want to `PATCH /people/1` and prevent unintended update overwriting, I provide an `If-Match` header with

[2015-07-25 15:14] tkellen commented on #600
@ethanresnick Your response basically traces the outline of the conversation I had with @steveklabnik yesterday. I'm :+1: to normatively requiring `revision` values to match etag values when HTTP is being used for transport.

[2015-07-25 17:18] DaleGardner opened #816 "Padding between menu and content"
There should be some padding between the menu and the main content. :shirt:

![jsonapi-padding-1](https://cloud.githubusercontent.com/assets/3970939/8890450/769579a0-32cf-11e5-881a-6886bbf636be.PNG)

![jsonapi-padding-2](https://cloud.githubusercontent.com/assets/3970939/8890451/79afc190-32cf-11e5-8d41-0610282542c2.PNG)

[2015-07-25 18:50] jamesplease commented on #816
What browser are you viewing the site in? I see this:

<img width="997" alt="screen shot 2015-07-25 at 2 49 56 pm" src="https://cloud.githubusercontent.com/assets/2322305/8890817/7a255f6a-32dc-11e5-8b0f-8b628d3db203.png">

[2015-07-25 19:15] DaleGardner commented on #816
Google Chrome Version 44.0.2403.107 m (64-bit)

Also the same for: Mozilla Firefox Developer Edition 41.0a2 (64-bit)

This is on Windows 7. The font is probably slightly different for you, which causes it to hit the next line (as you can see from my screenshots, it is right on the absolute edge). I've run into similar font issues recently on a few different projects, with Mac and Windows being sli

[2015-07-25 19:58] jamesplease commented on #816
Yup, you're def. right. This should be changed!

:+1:

[2015-07-25 20:33] ethanresnick commented on #600
@tkellen Ok, cool!

Next question, then: should we allow `revision` as a top-level property on a collection request too? E.g.

[code]

I'm not sure what a concrete use case for that would be, but it seems consistent/like a logical extension of the above. Does it cause any problems?

[2015-07-25 20:37] tkellen commented on #816
Thanks Dale!

[2015-07-25 20:37] #816 closed

[2015-07-25 21:57] dgeb commented on #600
I have a problem requiring ETag / revision equivalency. I believe ETags should apply to response documents, while revisions should apply to each resource represented in that document.

I would expect different ETags when requesting `people/1` and `people/1?fields[people]=name`, even if person 1 doesn't change at all between requests. In the same scenario, I would expect `revision` for the person r

[2015-07-25 23:03] ethanresnick commented on #600
@dgeb Why? Is there anything in HTTP that implies that those two Etags need to be different?

As I'm imagining it, an API that's tracking `revision` could just drop that value into the Etag

Yeah, that's true. But would it be a big problem if the Etag changed here too? Given that the `revision` number, which is included in the JSON body, would change, I think the Etag would need to change too.

[2015-07-26 03:59] scott-mcdonald commented on #600
If I may, I would like to add the following comments:

**First**, I believe Ethan is spot on that `revision` and `etag` are one and the same. This was my original point when I first proposed this idea in this thread about 2 months ago of `version` being an _opaque identifier_ that the web server assigns for a specific version of a resource so that either a client or server can simply compare for e

[2015-07-26 04:48] hhware commented on #600
IMHO, a great proposal!

[2015-07-26 04:48] ethanresnick commented on #600
Crap. I forgot about this. Imagine a request for `/people/1?include=children`. If the ETag on that response matches the `revision` of the primary data (the `(people, 1)` resource), then, if one of the included `children` resources is updated, the Etag needs to be updated for HTTP caching, even though the `revision` on the primary resource hasn't changed. So there goes tying this to ETag—at least i

[2015-07-26 05:14] ethanresnick commented on #600
@scott-mcdonald Re your `revision` bag proposal... I'm not sure I'm comfortable tying things that closely to HTTP, in terms of the naming (e.g. `etag`) and the types of values that would end up there (e.g. `max-age`, which doesn't make sense on "push" protocols).

[2015-07-26 06:43] scott-mcdonald commented on #600
I see the point @ethanresnick and @dgeb are making on `revision` and `etag` and their possible impedance mismatch - they are not exactly the same but may be the same depending on the scenario.

`etag` is at the header level and thus applies to the document as a whole. When the document is a single resource with no other resources they align nicely, with json:api documents this is not always the ca

[2015-07-26 14:49] dgeb commented on #600
Considering that any document can include top-level `meta` data (or default included resources as mentioned above) that could vary and legitimately factor into its ETag value, I consider any kind of hard requirement for ETag / revision equivalence to be a stretch.

[2015-07-27 15:40] scott-mcdonald commented on #600
_Agreed_. Should be up to the web server (read implementation detail) on how to handle etag/revision coalescing.

[2015-07-27 16:29] tkellen commented on #600
Great points everyone!  @scott-mcdonald Would you please submit a PR taking a stab at actual normative text for this addition?

[2015-07-27 17:07] scott-mcdonald commented on #600
Sure but can only do this in my off-time from work, mix in wife and kids so please give me a couple of days for an initial draft...

To summarize this proposal so we are all on the same page:
- Part of "Resource Identifier Object"
  - `type` (string required)
  - `id` (string required)
  - **`revision` (string optional)**
- Opaque identifier up to web server to define value.
- If supplied in a GET

[2015-07-27 17:12] tkellen commented on #600
No worries @scott-mcdonald, we're all juggling this in our free time for the most part. That looks good except that we cannot say that `PATCH` or `PUT` **MUST** include `revision`--it would be backwards incompatible with `1.0` of the spec. This change must be wholly additive.

[2015-07-28 08:16] ShogunPanda opened #821 "File uploading"
Hi all.
In the specification I read (and implemented) that the `Content-Type` header for both client and server **MUST** be ` application/vnd.api+json`.

Now, here's my question. When I'm uploading a file along with a JSON document, the only content-type I can foresee to use is the `multipart/form-data`, which seems to be conflicting with the specs.

Am I thinking it wrong? How can I fix this prob

[2015-07-28 12:18] tkellen commented on #821
Can you please open this issue @ http://discuss.jsonapi.org? Our issue tracker can always be used to address internal inconsistencies within the current specification, or updates to the website. Beyond this, we try to limit discussions to those which focus on problems that will be dealt with in the next version of JSON API.

As a quick answer, you might consider base64 encoding your binary data an

[2015-07-28 12:18] #821 closed

[2015-07-28 13:58] tkellen commented on #477
I am closing this because I believe we addressed these concerns in 1.0. Please feel free to re-open a discussion @ discuss.jsonapi.org if this needs further debate.

[2015-07-28 13:59] tkellen commented on #528
I would love a PR for this if you have the time/inclination to make one!

[2015-07-28 13:59] #528 closed

[2015-07-28 15:23] bpinney opened #822 "Missing examples for filters"
The __Recommendations__ section on filtering (http://jsonapi.org/recommendations/#filtering) has sentences that allude to examples, but there are no examples listed in the section.  Please add some examples.

[2015-07-28 17:33] ShogunPanda commented on #821
Done: http://discuss.jsonapi.org/t/file-uploading-with-multipart/71 :)

[2015-07-28 20:39] lukasoppermann opened #823 "Missing examples / guides for non-resource data"
For e.g. I want to return the oauth access token and I am puzzled how to do it correctly. Treating it as a resource seems wrong, I don't want to return an Id for the token. Is it correct, to ignore the jsonapi format for this? How would I format it otherwise?

[2015-07-28 20:40] tkellen commented on #823
Our issue tracker is for addressing inconsistencies and enhancements to the specification. Can you please open this discussion @ http://discuss.jsonapi.org?

Thanks!

[2015-07-28 20:40] #823 closed

[2015-07-28 20:52] lukasoppermann commented on #823
Sure, thanks for the tip.

[2015-07-29 14:19] tkellen opened #825 "Who is using JSON-API?"
We would like to gather a list of projects/companies using this specification for the website.

Please post here and let us know if your project/company uses json-api and wouldn't mind being mentioned. A logo with a link to the project and a short description of how you are using json-api / how it has helped would be awesome. If the code is open source, please link to that too!

[2015-07-30 04:57] hhware commented on #477
IMHO, these concerns have not been addressed in 1.0. Although the specific proposal made in the original comment of this issue is invalid post-1.0, I believe that the general question raised here is still valid.  Following the spirit of [this suggestion](https://github.com/json-api/json-api/issues/684#issuecomment-106110099), I would regard this as a dedicated issue to discuss item 9 from https://

[2015-07-31 22:11] scott-mcdonald commented on #825
@tkellen

Tyler. I am the solution architect/lead here at movietickets.com and I pitched the idea of adopting json:api as our hypermedia JSON based response standard for our greenfield "Level 3 REST API" which was accepted by the company. We are using it to power our new JSON based hypermedia API to deprecate our older WCF SOAP based services. We do not have a "developer" portal yet and might not

[2015-07-31 22:13] tkellen commented on #825
Hey @scott-mcdonald! Thanks so much for responding :smile:. As much as you'd be willing to share would be valuable. Posting links to logos or just embedding them right in the thread would be awesome.

[2015-08-04 17:13] scott-mcdonald commented on #825
@tkellen Tyler, I talked to our CEO and he has given approval to use our movietickets.com logo for companies using json-api but there are some legalese restrictions he wants in place which is standard fare for this type of stuff. I am going to email you directly and give you his email address as our CEO wants to know for himself how you are going to use the logo etc before he signs off on it. Can

[2015-08-04 17:23] jeremiahivan commented on #825
@tkellen Rent the Runway is beginning to roll out JSON-API in our production site. The first items are live now. Our goal is to standardize on this specification for our client facing API. We'd be happy to share promotional material and happier still for our developers to work openly with you to improve. Please reach out for any questions and collaboration.

[2015-08-05 13:01] ethanresnick commented on #477
Agree with @hhware...the problem here still seems unresolved. I'm gonna re-open for now as a record/reminder, even though we don't have this milestoned for a particular release yet.

[2015-08-05 22:27] #445 closed

[2015-08-06 13:51] Kukunin commented on #745
I support @hhware in this conversation.

First, there definitely may custom actions for a resource, which can't be 'refactored' in terms of standard HTTP verbs. For example, we have a Task resource, which has a `accept` and `reject` actions.

Second, `OPTIONS` HTTP method is not an option, because it supports only HTTP verbs in the `Allow:` header. So, I can't specify in the `OPTIONS /tasks/1` res

[2015-08-06 15:10] kjwierenga opened #829 "Schema causes RegexpError: empty range in char class"
I'm using the Ruby JSON Schema Validator (https://github.com/ruby-json-schema/json-schema) and an accompanying matcher to match API responses to JSON schema definitions.

When I match against the JSONAPI schema found at http://jsonapi.org/schema I get the following error:

     Failure/Error: response.body.should match_json_schema('json-api')
     RegexpError:
       empty range in char class: /^(

[2015-08-06 19:28] ashleygwilliams opened #831 "/format sidebar overflow is not accessible"
http://jsonapi.org/format/ accessed by Chrome Version 44.0.2403.130 (64-bit)

the information in the sidebar on the Format page extends below the window and is not accessbile via scroll. it seems like a result of fixed positioning.

might investigate later and make a PR but s'cool if someone wants to take over before i get to it.

[2015-08-07 13:53] kfriedman commented on #825
@tkellen

I'm a developer at the New York Public Library and we're using JSON API for most of our apps going forward (http://www.nypl.org/blog/2015/07/14/unit-testing-angular-js) and to power the website redesign currently underway (http://www.nypl.org/blog/2015/06/15/transformation-nypl-website).

Our devs have also written two JSON API parsers:

Node:
https://github.com/EdwinGuzman/parserinator

[2015-08-07 16:03] kjwierenga opened #833 "Schema doesn't allow null values for pagination links."
Pagination links are allowed to have `null` values. PR #832 fixes this schema issue.

[2015-08-07 18:57] dylnslck commented on #825
@tkellen

I'm leading the development of a few early-stage startups (www.truprice.healthcare, www.getladdr.com, and www.amplebiometrics.com). We love Ember, so I've been working on a JSON API Node driver https://github.com/dcslack/restle to knock all these out at once.

[2015-08-11 11:16] wvteijlingen commented on #831
This is a known bug, with one open PR at the moment: https://github.com/json-api/json-api/pull/785. A better solution is always welkome though! :)

[2015-08-11 11:57] taheilo opened #835 "Discuss: Is JSON-API the right name?"
Im starting this issue to discuss wether or not json-api is the right name for this project.

The main reason for bringing this up is that it gives alot of noise when searching for solutions and plugins related to this, simply because both JSON and API is two words used everywhere in the frontend world, making it next to impossible to find the results you want.

Searching for 'rest api' gives you

[2015-08-11 12:04] gr0uch commented on #835
This topic has been discussed repeatedly I think, but I'm too lazy to find the links right now. I have always been of the opinion that it's a bad/inappropriate name.
- It's always ambiguous whether JSON API means an ad-hoc API that happens to use JSON, or this specification, even when discussing the spec.
- There are plenty of other specifications which use JSON as a format, such as JSON-LD + Hydr

[2015-08-11 15:57] steveklabnik commented on #835
JSON API is not intended to be Ember or Rails specific, even though it came out of that.

Yes, we could have used a different name, but three years in, this isn't something that's going to change.

[2015-08-11 15:57] #835 closed

[2015-08-11 20:00] sahin commented on #725
+1

[2015-08-12 18:23] bravo585 opened #837 "Firefox auto-appends media type parameter 'charset=UTF-8'"
The specification states:

However, I noticed Firefox (I'm using 36.0.4) automatically appends charset-UTF-8 to the request header content-type, even when you explicitly set it to just "application/vnd.api+json"

[2015-08-12 18:28] steveklabnik commented on #837
that's not cool :/

[2015-08-14 10:08] MattSANU opened #838 "DELETE should delete the thing the URL refers to"
There's an example in this specification that doesn't seem right:

Relationship members are specified in the same way as in the POST request.

In the following example, comments with IDs of 12 and 13 are removed from the list of comments for the article with ID 1:

DELETE /articles/1/relationships/comments HTTP/1.1
Content-Type: application/vnd.api+json
Accept: application/vnd.api+json

{
  "data"

[2015-08-14 10:36] gr0uch commented on #838
I'm not sure if compliance with REST is a goal of JSON API. There are other parts of the spec which are seemingly not RESTful such as optional hyperlinks, which may imply that traversing between resources is based on out-of-band information.

Anyways I think it's too late to make a breaking change such as this.

[2015-08-14 13:38] joostfarla opened #839 "Is nesting partial related resources within attributes allowed?"
Say I have a resource URL for retrieving an article. Would it be allowed to include a subset of the related author's attributes in the attributes of the primary data?

The reason why I would want to do this:
* For the most use cases when retrieving an article resource, the fields `name` and `photo` are all that are needed. However, the author resource contains a lot more properties, but I do not w

[2015-08-14 13:48] bintoro commented on #838
JSON API and HTTP have different ideas about what "resource" means. An HTTP resource may map to multiple JSON API resources. It's just a terminology issue.

[2015-08-14 14:07] ksimka commented on #839
Use `fields` (http://jsonapi.org/format/#fetching-sparse-fieldsets)

Why 'complexity'? You implement json-api only once, then you always can convert json-api format to a plain js object of your choice. Creating additional formats — that's the complexity.

[2015-08-14 14:20] steveklabnik commented on #838
REST also says nothing about URLs, HTTP verbs, or anything else like that.

[2015-08-14 14:31] gr0uch commented on #838
@steveklabnik not sure about that, there is an [entire chapter](https://www.ics.uci.edu/~fielding/pubs/dissertation/evaluation.htm) on how REST relates to the web, ~~but you're right that HTTP verbs are not explicitly mentioned~~ there's also HTTP verbs. The architectural style may not cover implementation details, but it's still an important consideration here.

[2015-08-14 14:33] joostfarla commented on #839
In my case, I don't want the client to determine which fields are returned and which are not. These 2 fields should be the default. If they want more, they should follow the related URL to retrieve all attributes.

I mean complexity for the client. For a rookie developer, getting `attributes.author.name` is way simpler than iterating through an array of included resources and finding a match by `i

[2015-08-14 14:50] ksimka commented on #839
We have one function that converts this

[code]

to this

[code]

So when we need raw data, we don't bother what's in response. You can do a similar one corresponding to your needs.

[2015-08-14 14:52] steveklabnik commented on #838
REST itself is chapter 5. Chapter six is evaluating how the web platform stacks up against REST.

(and yeah, I'm not saying it's not important, I'm saying "REST says that this URL should do this with a DELETE" is a category error)

[2015-08-14 15:05] joostfarla commented on #839
That's a good solution if you are writing the client code yourself, but that's not the case here. I would rather not bother the client with (platform-specific) conversion functions. I want to provide maximum flexibility, but also make it dead simple for the most common use cases. That's why I wanted to include a minimal subset of the related attributes somewhere.

I'm still wondering if that would

[2015-08-14 15:12] ksimka commented on #839
Technically — no, since attributes and relationships together are fields, so you will get a conflict. You either have an attribute "author" or relationship "author", not both. (But it's better not to trust me and ask one of maintainers :) )

[2015-08-14 16:17] ethanresnick commented on #838
I'm gonna give this a close, since we've discussed it in the past (#445) and there wasn't enough resistance to the current approach for us to change it at the time. Maybe in the future we'll add a different alternative and deprecate the current approach, but there's no way to just remove it now that the spec's reached 1.0.

[2015-08-14 16:17] #838 closed

[2015-08-14 16:29] ethanresnick commented on #839
I agree with @ksimka that what you're proposing isn't technically valid. I think the best way to go would be to put the `name` and `photo` fields in the `meta` member for the author relationship, like this:

[code]

This is compliant because resource identifier objects are allowed to have a `meta` member. Meanwhile, any generic JSON API client can still correctly identify the relationship and fetc

[2015-08-14 17:48] ethanresnick opened #840 "Specify the relationship between self links and base URIs"
Details [here](https://github.com/json-api/json-api/pull/834#issuecomment-131192713). I'm opening this as a reminder until we can work up a PR.

[2015-08-15 09:25] joostfarla commented on #839
@ethanresnick @ksimka thanks for your thoughts!

[2015-08-15 09:25] #839 closed

[2015-08-17 07:39] MattSANU commented on #838
I understand your reluctance to change this after spec 1.0, but since (as I understand it) this makes JSON-API both non-compliant with RFC 7231 and non-RESTful, it sure would be good to see this not forgotten about. Maybe a possibility for spec 2.0, then?

[2015-08-17 10:24] ethanresnick commented on #838
@MattSANU Ok, I'm open to reopening this and leaving it milestoned for a future release. (This has always bugged me a bit too.) What say @dgeb and @tkellen?

[2015-08-17 12:00] bintoro commented on #838
HTTP only calls for disassociating the endpoint from its "current functionality" upon DELETE, which arguably is happening when the corresponding resource linkage is modified, no?

[2015-08-17 12:21] ethanresnick commented on #838
@bintoro I think it depends how you define "current functionality", but my reading is that the "current functionality" is that of returning the collection of related linkage—and that functionality still remains, even though the members of that collection are different. If we read "current functionality" as you suggest, then any PATCH operation would be ok to do as a DELETE, because it would change

[2015-08-17 12:26] MattSANU commented on #838
The problem (as I see it) is that the entity that's being modified isn't being identified solely by the URI/URL - it's being identified by a combination of the URI and the request body. Which means that that Uniform Resource Identifier doesn't actually identify the Resource that is the topic of the DELETE request.

[2015-08-17 12:45] bintoro commented on #838
@MattSANU, you're conflating HTTP resources and JSON API resources. What HTTP calls "resources" are called "endpoints" in JSON API.

Just consider compound documents. They consist of multiple JSON API resources delivered from a single URI (the HTTP resource). Equating JSON API resources and HTTP resources would make such collections impossible, as there would have to be a one-to-one correspondence

[2015-08-17 12:54] bintoro commented on #838
@ethanresnick True, but it's the only way to have DELETE do anything useful.

[2015-08-17 13:15] ethanresnick commented on #838
@bintoro There are other solutions, though. Maybe it's coming up with a URI convention for picking out the linkage to DELETE (which could easily work well for up to 20 links). More likely, it's defining a `PATCH` or `POST` alternative for this use case. But, either way, all I'm suggesting for now is leaving this open to discuss more later.

[2015-08-17 13:23] dgeb commented on #838
As others have pointed out, in [RFC 7231](https://tools.ietf.org/html/rfc7231) "target resource" means _HTTP resource_. What we're really doing here is identifying _multiple JSON API resources_ within a _single target HTTP resource_ that represents a _collection of JSON API resources_.

RFC 7231 provides a fair bit of wiggle room for server implementations to interpret the effects of DELETE:

And

[2015-08-18 10:16] SimonMiaou opened #845 "Attributes on relationships"
Hi,

I have some issues about manage many to many relationships.
I would like to have attributes between my two entities.

For example, I have a person performing in a movie. On the movie, I have a relation performers where I want to put everyone that have performed in the movie.

### Movie
[code]

### Person
[code]

What the specification suggest, I would do something like that

[code]

But I als

[2015-08-18 11:02] gr0uch commented on #845
why not:

[code]

not sure if the spec disallows this.

[2015-08-18 11:56] tkellen commented on #845
Hi @SimonMiaou! Support requests like this belong on our discussion forum. Would you please create a thread at http://discuss.jsonapi.org?

Thanks!

[2015-08-18 11:56] #845 closed

[2015-08-18 13:19] SimonMiaou commented on #845
Oh, I didn't notice it. Thanks.

For those who find this issue and wondering the solution, here are the topic that helped me: http://discuss.jsonapi.org/t/metadata-about-relationships/86

[2015-08-19 11:50] dgeb commented on #795
## Potential Solution: Operations Extension

One solution to this problem is to represent each operation as an entity in a request document. Operations could be transmitted in an array, since ordering is often significant. Similarly, responses to each operation could be returned in an array that parallels the operations in a request.

This solution is very similar to the experimental [JSON Patch e

[2015-08-19 13:48] tkellen commented on #795
Leaving notes here for posterity, @dgeb and I discussed the possibility that we should consider supporting a `response` flag in operations with two allowed values, either `full` or `status`. This would control how detailed the response from the server will be for each operation. This would cover the case where the client does not care about the details of the intermediate representations created w

[2015-08-19 14:19] jeregrine commented on #795
In general I understand the urge to have a system like this. What I don't understand is why this couldn't just be 5 requests?

[2015-08-19 14:25] jakerobers commented on #795
This will probably get messy on the client side when you have relationships multiple layers deep. Doing multiple requests keeps data in a flatter structure, and will keep things simpler, in my opinion.

[2015-08-19 14:40] tkellen commented on #795
You can totally do that. We're discussing an optional/additive extension to the base specification that has been widely requested (see the issues referenced in the OP). If you don't want to use it, this issue doesn't apply to you.

[2015-08-19 14:49] mfpiccolo commented on #795
I agree with @tkellen.  Yes, using multiple requests keeps things simpler, however sometimes it doesn't make sense to do multiple requests especially if they are to be treated as a single transaction.  It would be very difficult to manage a block of separate requests as a single transaction, rollback changes and return error states for the objects.

I am currently using included to handle these mu

[2015-08-19 17:40] ghost commented on #795
I really like the proposed solution above. I am excited to see a standard arise out of this.

regarding this:

I like the idea of building an app that returns just the status if all my operations were update/delete, and full if any of the operations was an add. So I would like to see a response flag, perhaps as metadata?

and this:

Does this mean that the server will return something other than t

[2015-08-19 18:23] gr0uch commented on #795
Not sure how I feel about this from an implementer's perspective. It adds a lot of complexity just to save on HTTP requests. That said, I'm glad it's being discussed as an optional extension.

[2015-08-19 18:33] dgeb commented on #795
That is one primary goal. Another is to provide a means by which multiple operations can be performed in a single transaction.

And still another goal particular to the operations extension is to provide a format compatible with streams (e.g. web sockets).

[2015-08-19 20:29] tkellen commented on #795
No, it means you might have a request like this:

[code]

...with a response like:

[code]

[2015-08-19 22:03] ghost commented on #795
oh cool, I could see the utility in that. Thanks for the example.

[2015-08-20 01:45] JustinLivi commented on #419
Random Serverdev here, just +1 on getting this resolved. Literally had this reaction.

[2015-08-20 02:04] ethanresnick commented on #419
@JustinLivi To clarify, which part of this issue are you saying needs to be resolved? Are you saying the FAQ should be clearer on why we don't support PUT, or are you concerned about the "creating over PATCH" case?

[2015-08-20 02:10] JustinLivi commented on #419
Ah sorry for the vagueness.

I spent some time going through the spec searching for PUT and ended up at this issue searching for the reasoning behind it. My experience with REST has been to always use PUT, so I was surprised when I saw no mention of it.

[2015-08-20 09:35] ethanresnick commented on #795
That sounds like a fair diagnosis to me. That is, I agree that there are some complex cases that require transactional and imperative/RPC-ish semantics. Therefore, we'll need something reasonably like JSON PATCH, and @dgeb's proposal here seems cleaner than the current JSON PATCH extension.

However, I wonder if we could cover 80% of the embedding/sideposting use cases with a more declarative, hig

[2015-08-20 14:45] belison commented on #745
Thanks Ethan for reaching out to us.  Our chief architect has put a ton of thought into hyper, here is one of his projects https://github.com/hypergroup/hyper-json.  The readme has a lot of examples.  We have been using this pattern for about a year and have really loved it.

[2015-08-20 17:16] ghost commented on #795
I like this suggestion a lot too. What happens if there are two levels of resources being created? e.g. "Creating two articles and adding new tag and tag category" That is a contrived example, and perhaps the spec should dissuade requests like that?

[2015-08-20 17:18] tkellen commented on #795
The original draft of this post also included this use-case, but we didn't fill it out for time reasons:
- Create this hierarchical data structure:

[code]
- Transform the above structure to this:

[code]

### GET /nodes

_This actually starts empty, but the representation below matches this_

[code]

[code]

If someone wants to take a stab at representing that in both proposed solutions, that wou

[2015-08-20 17:36] ethanresnick commented on #838
P.S. I think one ultimate solution for those concerned about this will be to use whatever format we come up with for PATCH [operations](https://github.com/json-api/json-api/issues/795#issuecomment-132559958). I.e.,

[code]

will be rewriteable as something like:

[code]

which seems much more compliant to me.

[2015-08-20 17:37] #833 closed

[2015-08-20 17:37] ethanresnick commented on #833
#832 has been merged.

[2015-08-20 23:45] bf4 commented on #829
Closed by https://github.com/json-api/json-api/pull/830 :)

[2015-08-20 23:49] bf4 commented on #822
Would you help me understand what sorts of examples you're looking for? :)

[2015-08-20 23:52] bf4 commented on #766
If I understand your question, do you mean that if the request object is a string or array, what status code would be appropriate for the response?

Possibly relevant, I'm working on adding error response examples in #828

[2015-08-21 00:00] bobholt commented on #766
I'd be happy with the specification saying something like this:

A server **SHOULD** (**MUST**?) respond to an invalid request with an error."

It allows the statement to be tested by dictating an "if this, then that" behavior.

[2015-08-21 00:16] bf4 opened #850 "Recommendation for dasherizing (kebab-case-ing) namespaced object, such as `Admin::User`"
JSON API recommends dasherized keys, so an `AdminUser` would be represented by `admin-user`. But, does/should JSON API have an opinion on namespaced objects? That `Admin::User` would be dasherized as `admin/user`?  (That's the result in Rails of `"Admin::User".underscore.dasherize`)

[2015-08-21 00:20] bf4 commented on #766
I suppose it depends on what sort of invalid we're talking about.  I think it goes without saying that if a request can't be handled successfully, the server should return an error response.  Similarly, if the invalid part of the request can be ignored, then the server may return a successful response if that makes sense.  Right?  I believe I have such examples in that PR :)

[2015-08-21 03:59] #829 closed

[2015-08-21 05:16] joaomdmoura commented on #850
+1

[2015-08-21 16:06] ethanresnick commented on #795
@shicholas If I understand your question correctly, that would look like this:

[code]

Per the earlier discussion, though, this example would only be supported if the extension signals it can create any acyclic graph or we make that a base requirement.

[2015-08-21 16:44] ethanresnick commented on #795
@tkellen Re the other use cases:

That would be done very similarly to my above comment, with a single `POST` to `/nodes`.

Transforming that structure, once created, though, would require two requests. The first would move `nodeB` and `nodeC` to the root level, pulling their descendants along with them:

[code]

The second request would create the new `rootChild` node with a simple POST.

With in

[2015-08-22 02:21] ghost commented on #795
Thank you @ethanresnick for answering my question.

FWIW, I like your proposal better than the operations approach because I feel it adequately addresses any POST use-case I intend on using with minimal changes to the base spec. I like how it keeps the `data` key, which makes what url I should send the requset to clear and makes what I feel the proper response should be (correct me if I'm wrong bu

[2015-08-22 18:42] ethanresnick commented on #774
I'm gonna give this a close, as the existing options have already been outlined. As I mentioned earlier, we're discussing extensions now in #795 to make this even easier. Here's how it would work with my proposal from #795:

[code]

This is, of course, also easily doable with the operations proposal in #795.

[2015-08-22 18:42] #774 closed

[2015-08-22 18:45] ethanresnick commented on #795
Thanks Nick. I was imagining the response would be the same as the current POST response, except that the newly-created resources from `"embedded"` would also be returned in the response. This allows the client to see the server-assigned id each was given, as discussed earlier, and any other server-set attributes.

[2015-08-23 00:38] ethanresnick opened #851 "`additionalProperties: false` in JSON Schema"
The JSON Schema we host now at jsonapi.org currently says that additional properties are not allowed in any spec-defined objects, which is correct:

However, the spec also says that, if clients and servers _do_ encounter any additional properties, they must ignore them, which allows us to extend the base objects in the future.

I'm worried that some server devs will use the current schema to valid

[2015-08-23 01:52] bf4 opened #852 "Plans to update jsonapi.org/schema from draft-04 to 1.0?"
Re:
- https://github.com/json-api/json-api/pull/440
- http://jsonschemalint.com/draft4/#
- https://github.com/json-api/json-api/blob/6a410c0068dcce1813ac4c0b5a875adbef759729/faq/index.md#is-there-a-json-schema-describing-json-api-

If so, how would one help going about that? What's the source of truth to validate it against?

[2015-08-23 02:18] ethanresnick commented on #509
Reopening this. It got marked as closed after we resolved an issue with `?include`, even though we never added @dgeb's [clarification](https://github.com/json-api/json-api/issues/509#issuecomment-86795865) about the target of the pagination links to the base spec, which is still very vague on this point. I'll try to open a PR soon, unless someone else wants to tackle it.

[2015-08-23 02:23] bf4 commented on #851
All good points.  Maybe the can be addressed by naming, having 'the schema' aka spec validation version and a 'production' version (I hesitate to say strict and transitional).

I don't know json_schema well enough if such a thing is supported within it and lazy me not looking right now :)

Some erb-type doc generator could allow two versions from one source for sure.

[2015-08-23 02:50] ethanresnick commented on #745
@belison Thanks for jumping in! I'm taking a look at hyper now, and will definitely take it's ideas into account when we restart this discussion in full force (right now, we're trying to finish #795 and #650 first).

[2015-08-23 06:24] ethanresnick commented on #852
I'm confused...I don't think there is a JSON Schema 1.0; draft 4 appears to be the [latest version](http://tools.ietf.org/html/draft-zyp-json-schema-04).

[2015-08-23 09:47] danja opened #854 "json-api should support json-ld"
JSON-LD is a transparent addition to JSON data that makes it first-class Linked Data, desirable for any Web-oriented systems, according to Tim Berners-Lee, inventor of the Web.

see:

https://en.wikipedia.org/wiki/Linked_data

http://codyburleson.com/2015/07/28/the-amazing-power-of-the-link-in-linked-data/

http://json-ld.org/

[2015-08-23 09:50] ethanresnick commented on #854
This is in the works. See https://github.com/json-api/json-api/issues/587 (that issue's closed until the extension system is finished, but it's definitely on the radar).

[2015-08-23 09:50] #854 closed

[2015-08-23 13:42] bf4 commented on #852
oh, brain fart, you're right. I was thinking that referred to JSON API 1.0.

[2015-08-23 13:42] #852 closed

[2015-08-23 16:00] fivetanley opened #855 "the format page can be difficult to navigate"
Hi JSONAPI team!

I'm reading throughs some of the spec for some Ember Data implementation details. I'm using Chrome, and the menu can be kind of difficult to navigate because I have to scroll down to the bottom of the page in order to see the last few menu items, instead of the menu being scrolled separately.

Here's a video demonstrating the issue: ![video demonstrating issue](https://dl.dropbox

[2015-08-23 16:53] ethanresnick commented on #855
Thanks for submitting! We already have a couple issues for this, though your report inspired me to take another crack at a solution, so I'm closing this in favor of those tickets. See https://github.com/json-api/json-api/pull/856 and #831

[2015-08-23 16:53] #855 closed

[2015-08-23 16:59] #831 closed

[2015-08-23 20:04] danja commented on #854
Hmm, I'm a little confused by the closing of issues that are still effectively open... But still, glad this is on your radar. Hopefully the links above will give it a bigger bleep :)

[2015-08-24 00:08] steveklabnik opened #858 "formatting is really messed up on Firefox/Linux"
![2015-08-23-200848_604x511_scrot](https://cloud.githubusercontent.com/assets/27786/9430913/c3dbb638-49d2-11e5-9498-beceda08c50b.png)

O_O

[2015-08-24 00:14] jamesplease commented on #858
![](http://www.countryhealthsa.sa.gov.au/Portals/0/Graphics/IE%20Best%20viewed-paint7.png)

[2015-08-24 04:02] badosu commented on #774
ok, thanks!

[2015-08-24 20:07] ethanresnick commented on #795
For reference, it looks like Facebook's approach to batch operations is to process all operations in parallel by default, but allow the user to specify dependencies between operations that should be executed in serial. See https://developers.facebook.com/docs/graph-api/making-multiple-requests

[2015-08-25 11:47] joananeves commented on #795
Shouldn't this issue be marked with milestone ""JSON-API 1.1-beta"?
"It's the primary feature on [roadmap](http://jsonapi.org/about/#roadmap)" as @tkellen said on [Nested attributes aka. embeded records support](http://discuss.jsonapi.org/t/nested-attributes-aka-embeded-records-support/48) that

[2015-08-25 12:57] ethanresnick commented on #795
@joananeves yes! done. thank you

[2015-08-25 22:34] almibe commented on #98
Maybe this needs reopened?  I still don't see any mention of json-ld in the faq.  If on the other hand json-api doesn't want to compare itself to any linked data or semantic web technologies in general because the goals are so different, maybe a blanket statement regarding that should be in the faq.

[2015-08-25 22:49] jokeyrhyme commented on #98
@passy ? @steveklabnik ?

[2015-08-26 00:30] ethanresnick commented on #794
Also, #383

[2015-08-26 00:31] ethanresnick commented on #383
/ref #794

[2015-08-26 02:06] ethanresnick opened #862 "Multiple/Hierarchical Types"
Sine the [beginning](https://github.com/json-api/json-api/blob/5a96d6acc7925902eb4f24c55a1bb64fddd6da04/source/index.md#ids), JSON API has treated each resource as having one, and only one, definitive type, which is part of the resource’s identity.

I didn’t see much debate about this design decision, and I know I never questioned it, but I think some problems with it have started to bubble up rec

[2015-08-26 21:50] ethanresnick commented on #862
@tkellen @steveklabnik @dgeb I totally forgot to bring this up at today's meeting, but I would like some feedback on it whenever you guys have a sec, as it's proposing an amendment to the basic json api data model.

[2015-08-26 21:50] ethanresnick commented on #858
Should be fixed by #860.

[2015-08-26 21:50] #858 closed

[2015-08-27 04:30] mvdstam opened #867 "Creating new resources and validating with JSON Schema"
The official JSON API Schema (as described at http://jsonapi.org/schema) explicitly expects the ID field to be sent by clients when creating new resources. This conflicts with the following example (pulled from the official documentation):

[code]

When I validate the above to the official JSON Schema document, validation fails. Perhaps a seperate JSON Schema document can be provided solely for cr

[2015-08-27 04:34] mvdstam commented on #837
This is a known bug in Firefox:

https://bugzilla.mozilla.org/show_bug.cgi?id=416178

We ran into this issue as well and decided to just relax this specific requirement, since Firefox essentially didn't work with the JSON API for anything other than GET requests.

[2015-08-27 04:39] ethanresnick commented on #837
Yeah; I'm not sure what the official JSON API resolution to this will ultimately be, but I agree that just relaxing the requirement (for just the charset parameter) is a good strategy for now.

[2015-08-27 04:42] ethanresnick commented on #867
See #851, which is another reason not to use the published schema to validate incoming requests. Basically, that schema is only for validating output/response documents, and we're already thinking about whether to create a separate one for incoming requests (or just to keep a single one, but make it more lenient).

[2015-08-28 17:24] FreakTheMighty commented on #728
I'd like to continue this discussion in the forums. http://discuss.jsonapi.org/t/android-support/88

[2015-08-29 22:55] ethanresnick commented on #541
I've added a response to your particular question on stack overflow. Basically, there are a number of straightforward solutions.

Your more general question was: how should the server signal that two relationships need to be updated together? And I think the answer to that is: 1) it shouldn't provide separate relationship endpoints for the individual relationships (which is totally allowed under t

[2015-08-29 22:55] #541 closed

[2015-08-29 22:58] ethanresnick commented on #619
/ref #541 for a use case that the design of such an extension might want to support

[2015-09-03 02:23] almibe commented on #98
I'll take this as a "the goals are too different to even compare".

[2015-09-03 04:12] ethanresnick commented on #98
Hi @almibe and @jokeyrhyme. Sorry this thread hasn't had much activity; I think people have just been busy.

Anyway, here's my personal take on this, which may not represent the views of the other editors:
- JSON LD's about saying, for each value in the response, this value is a certain kind of thing (e.g. "the string at the document's /people/0/name path is a firstName, in the schema.org meaning

[2015-09-03 04:27] jokeyrhyme commented on #98
@ethanresnick thanks, this makes sense.

[2015-09-04 05:55] MattSANU commented on #838
@ethanresnick Yes, I think that would be much more compliant. I'd consider that a solution to all of the points I raised. I get what you're saying about the different types of 'resource'.

[2015-09-04 05:58] MattSANU commented on #838
You could (if you wanted) also have a URL that referred directly to the JSON API resource (not to the collection), in this example to a comment rather than to the collection of comments. At that point, the JSON API resource and the HTTP resource would be one and the same, so use of method DELETE would be perfectly appropriate, and you probably wouldn't need a request body any longer.

[2015-09-05 01:30] almibe commented on #98
Thanks for the response from what I know about JSON-LD I'd agree with that.  I was curious how well the two could work together and the possibility of them benefiting each other sounds like it's worth experimenting with.

[2015-09-05 06:28] ethanresnick commented on #98
From the playing around that I've done, they integrate quite well. For example, it's pretty easy to properly [annotate a typical JSON API response with JSON LD](https://github.com/json-api/json-api/issues/587#issuecomment-103367380). Occasionally, some duplicate JSON LD `@id` declarations are required, as, without them, JSON LD's `@context` mechanism isn't quite expressive enough to annotate the J

[2015-09-05 06:35] ethanresnick commented on #794
Finally, the Collection+JSON extensions offer a great set of real-world use cases that we should check are supportable: https://github.com/collection-json/extensions

[2015-09-07 23:12] patrykorwat commented on #862
The case when you want to expose an API to change type of a resource for me is a sign of bad design - could smell like an RPC.

I don't agree - all subtypes implement/contain basic attributes and relationships of the parent, so even if the client doesn't know anything about an inherited type, it can always process the basic fields.

If you really want to put information about the type hierarchy, I

[2015-09-08 16:17] equivalent opened #873 "archive of old release"
Hi, is there a url somewhere to the older page version (before 1.0, from around dec 2014 ? )

the reason is that I've used that version to create application, and I've need to stick url to the app Documentation for the reference.

[2015-09-08 16:55] tkellen commented on #873
We're going to maintain a history of versions for everything post 1.0 on the website. If you want to link to something leading up to 1.0, you'll (unfortunately) need to mine through the git history and link directly to the markdown file.

[2015-09-08 16:55] #873 closed

[2015-09-08 21:23] ethanresnick commented on #862
Responding to @meshuga's comments first:

Can you explain here what you mean? That is, what about it seems bad to you/what are the particular negative consequences you're worried about? It doesn't strike me as RPC (and, even if it did, RPC isn't _always_ inappropriate). Also, remember that I'm envisioning here changing to subtypes or otherwise compatible types, not changing types generally.

Right

[2015-09-08 21:41] dgeb commented on #862
It sounds like we all agree that it's a mistake to include hierarchical information in a `type` value because that information makes the value more brittle. For example, `people-presenters` is more brittle than either `people` or `presenters`.

It's an API design decision whether to go with the more general `people` or the more specific `presenters` for `type`. Another more DRY option is model eac

[2015-09-08 23:42] ethanresnick commented on #862
@dgeb

I agree that, in the `people` examples, presenter, teacher, and administrator can be seen as attachable/detachable roles, and so modeling them as separate resources will likely be the best approach (holding aside validation complications).

That's why I gave the example of organizations and schools, in which being a school isn't really a detachable role: were the organization no longer to b

[2015-09-09 00:05] dgeb commented on #862
@ethanresnick

Fair enough. I wasn't saying that hierarchical concepts should never appear in an API, but I was taking the long way to explain how carefully we need to couch our recommendations.

In your case, you might take the mixed-type collection approach when fetching organizations. In other words, you'd return a collection of schools and other types of organizations when fetching `/organizat

[2015-09-09 08:27] ethanresnick commented on #862
Agreed.

Right. And not just which types are available at each endpoint, but what the logical relationship between the different types is. (That's why returning the schools as type `schools` doesn't work now: because the client doesn't know that a school can also be used where an organization is expected.)

That sounds good to me! I'll milestone this for 1.2. Maybe the solution will be an extensio

[2015-09-09 14:02] bf4 commented on #733
:+1:  and ref: https://github.com/json-api/json-api/issues/686

[2015-09-10 14:27] equivalent commented on #873
ok there is one now http://jsonapi-rc3.herokuapp.com/

[2015-09-10 18:28] ethanresnick commented on #862
FYI, got another question on twitter from a JSON API user that went to the heart of this issue: https://gist.github.com/arches/7508c83294b623e41765

[2015-09-12 15:20] sebilasse commented on #867
Citing the official documentation

[2015-09-13 15:43] ethanresnick commented on #867
@dgeb @tkellen @steveklabnik Do you guys have an opinion here on whether it's worth it to maintain multiple, stricter schemas or just go with one looser one? I was leaning toward the looser schema approach and started mocking it up, as you can see from the links. But, on reflection, ditching the `id` requirement for all resource objects seems like a big loss, so now I'm not sure.

[2015-09-13 16:04] mvdstam commented on #867
If I may offer my 2 cents (as someone who has used JSON-API in a production environment and had the chance to look at it quite thoroughly). One of the most nice aspects about JSON-API is that once a request goes through a JSON-Schema, you can trust it's okay because it's so strict, and you _know_ that certain data is at your disposal.
I'd go for multiple stricter schemas instead of going with 1 lo

[2015-09-13 16:50] jakubrohleder opened #880 "Angular-jsonapi"
For past few months I've been implementing JSON API client for angular.js users. Currently it is in the 1.0.0-alpha state, but I'm planning stable 1.0.0 to be released in the near future. It is accessible at [jakubrohleder/angular-jsonapi](https://github.com/jakubrohleder/angular-jsonapi).

Documentation is only partially ready, so everyone who is interested in using/collaborating - feel free to p

[2015-09-14 03:32] ethanresnick commented on #880
@jakubrohleder Awesome! I'll get it added to the implementations page momentarily.

cc @TechAtNYU/infrastructure-team